Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

ci: 👷 ensure deployment is tagged correctly
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
Due: none

ci: 👷 ensure deployment is tagged correctly
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 use force push
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 don't trigger release for prs
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 use pat
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 use github ref to push
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 add step summary
  .github/workflows/ci-cd.yml
  apps/angular-examples/src/app/core/service-worker-update.service.ts
Due: angular-examples

ci: 👷 try to use force-with-lease
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 use follow-tags
  .github/workflows/ci-cd.yml
  .github/workflows/trigger-release.yml
Due: none

ci: 👷 check output correctly
  .github/workflows/ci-cd.yml
Due: none

feat(angular-examples-cdk): ✨ add version.json to bucket
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
Due: angular-examples

ci: 👷 ✨ use working git user
  .github/workflows/ci-cd.yml
  .github/workflows/trigger-release.yml
Due: none

ci: 👷 ✨ use working git user
  .github/workflows/ci-cd.yml
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies to ^19.0.3
  package-lock.json
  package.json
Due: none

fix: 🐛 typos
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
Due: feat-lazy-fourier-analysis

ci: 👷 use trigger release with callable workflow
  .github/workflows/ci-cd.yml
  .github/workflows/trigger-release.yml
Due: none

test: 🚨 update snapshots
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  package-lock.json
Due: none

ci: 👷 add pat token
  .github/workflows/trigger-release.yml
Due: none

feat: ✨ add version.json to bucket
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
  apps/angular-examples-cdk/tsconfig.json
Due: angular-examples

ci: 👷 don't run if only version.json changed
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 fix pushing of deployed tag
  .github/workflows/deploy.yml
Due: none

chore: 🔧 update nx 18.0.6
  package-lock.json
  package.json
Due: none

ci: 👷 fix filter for cicd
  .github/workflows/ci-cd.yml
Due: none

feat(angular-examples): ✨ load version after startup
  apps/angular-examples/project.json
  apps/angular-examples/src/app/app.component.html
  apps/angular-examples/src/app/app.component.ts
Due: angular-examples

test(angular-examples): 🚨 fix tests
  apps/angular-examples/src/app/app.component.spec.ts
  apps/angular-examples/src/app/app.component.ts
Due: angular-examples

chore(deps): :arrow_up: update dependency @ngneat/spectator to v18
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  libs/public/spa-cdk-stack/package.json
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update storybook monorepo to v8
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo
  .npmrc
  package-lock.json
  package.json
Due: none

feat: ✨ WIP try dynamic federate
  .idea/.gitignore
  .idea/material_theme_project_new.xml
  apps/angular-examples/module-federation.config.ts
  apps/angular-examples/module-federation.prod.config.ts
  apps/angular-examples/project.json
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/app.component.html
  apps/angular-examples/src/app/app.component.spec.ts
  apps/angular-examples/src/app/app.component.ts
  apps/angular-examples/src/app/before-bootstrap/fetch-version.ts
  apps/angular-examples/src/assets/module-federation.manifest.json
  apps/angular-examples/src/assets/module-federation.manifest.prod.json
  apps/angular-examples/src/environments/environment.prod.ts
  apps/angular-examples/src/environments/environment.ts
  apps/angular-examples/src/environments/version.ts
  apps/angular-examples/src/main.ts
  apps/angular-examples/webpack.config.ts
  apps/angular-examples/webpack.prod.config.ts
  apps/fourier-analysis-remote/module-federation.config.js
  apps/fourier-analysis-remote/src/app/app.config.ts
  apps/fourier-analysis-remote/src/app/app.routes.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.module.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.routes.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis.routes.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
Due: angular-examples, feat-lazy-fourier-analysis, fourier-analysis-remote

build: 📦️ nx migrate to 18.2.3
  .idea/material_theme_project_new.xml
  .npmrc
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: none

style: 🎨 remove unused imports
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
Due: feat-lazy-fourier-analysis

style: 🎨 remove unused constructor argument
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
Due: feat-lazy-fourier-analysis

chore(deps): :arrow_up: update dependency eslint-plugin-cypress to v3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @ngneat/spectator to v18
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
