Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore(deps): update dependency vite to v8 (#2331)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/tsconfig.spec.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v11 (#2330)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-gyp to v13
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-gyp to v13 (#2328)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v17
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v17 (#2327)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jsdom to v30
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jsdom to v30 (#2326)
  package-lock.json
  package.json
Due: none

fix(deps): update all non-major dependencies
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/web-gl/package.json
  libs/utils/gpu-calc/package.json
  package.json
Due: feat-lazy-fourier-analysis, feat-lazy-tf-examples, utils-gpu-calc

fix(deps): 🐛 regenerate lockfile and fix fallout from non-major bump
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v24
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v24 (#2403)
  package-lock.json
  package.json
Due: none

fix(deps): 🐛 pin @playwright/test back to 1.56.1
  package-lock.json
  package.json
Due: none

fix(deps): update all non-major dependencies (#2401)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/web-gl/package.json
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: feat-lazy-fourier-analysis, feat-lazy-tf-examples, utils-gpu-calc

fix(cicd): 🐛 drop nitro node_modules before functions predeploy install
  firebase.pacetrainer.json
  firebase.rollapolla-analog.json
Due: none

fix(cicd): 🐛 drop nitro node_modules before functions predeploy install (#2407)
  firebase.pacetrainer.json
  firebase.rollapolla-analog.json
Due: none

fix(deps): update nx monorepo
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  package-lock.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, ui-kit

fix(deps): update nx monorepo (#2409)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  package-lock.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, ui-kit

fix(deps): update nx monorepo to v22.2.1
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

fix(deps): update nx monorepo to v22.2.1 (#2410)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

docs: note NX_NO_CLOUD fix for sandboxed nx affected/run-many
  docs/GETTING_STARTED.md
Due: none

fix(fourier-analysis-remote-cdk): apply ESNext target override per CDK policy
  apps/fourier-analysis-remote-cdk/tsconfig.json
  apps/shader-examples-remote-cdk/tsconfig.json
Due: fourier-analysis-remote

docs: add nx run-many example to sandboxed Nx Cloud workaround
  docs/GETTING_STARTED.md
Due: none

fix(deps): update nx monorepo
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update nx monorepo (#2415)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update all non-major dependencies
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package.json
Due: none

fix: 🐛 resolve AWS account id via Aws.ACCOUNT_ID instead of literal
  apps/angular-examples-cdk/src/main.ts
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/main.ts
Due: angular-examples, bacteria-game-remote, fourier-analysis-remote

feat(ws-thanos): 💥 ✨ add snap sound and render particles on the GPU
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.ts
  libs/public/ws-thanos/src/lib/capture-scale.spec.ts
  libs/public/ws-thanos/src/lib/capture-scale.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.ts
  libs/public/ws-thanos/src/lib/particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.spec.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-particle-renderer.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-shaders.ts
  libs/public/ws-thanos/src/lib/ws-thanos.options.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

feat(angular-examples): ✨ let the thanos demo use every pixel on the GPU
  apps/angular-examples/src/bootstrap.ts
Due: angular-examples

fix(ws-thanos): 🐛 place particles over the element and polish fade and sound
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.spec.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-shaders.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

feat(ws-thanos-test-app): ✨ add ?demo mode with a 10 second full effect
  apps/ws-thanos-test-app/src/app/app.config.ts
Due: none

feat(ws-thanos): 💥 ✨ add crumble variants and per element options
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.ts
  libs/public/ws-thanos/src/lib/particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/webgl/simplex-noise.glsl.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-particle-renderer.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-shaders.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/src/lib/ws-thanos.options.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

feat(ws-thanos-test-app): ✨ add crumble variants and a playground to the demo
  apps/ws-thanos-test-app/src/app/app.component.css
  apps/ws-thanos-test-app/src/app/app.component.html
  apps/ws-thanos-test-app/src/app/app.component.ts
Due: none

feat(ws-thanos): ✨ shape the snap sound like a breaking element blown away
  libs/public/ws-thanos/src/lib/snap-sound-envelopes.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound-envelopes.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

refactor(ws-thanos): ♻️ share the vaporizing front and simplify the renderers
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  apps/ws-thanos-test-app/src/app/app.component.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.ts
  libs/public/ws-thanos/src/lib/crumble-shape.spec.ts
  libs/public/ws-thanos/src/lib/crumble-shape.ts
  libs/public/ws-thanos/src/lib/particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/vaporizing-front.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-particle-renderer.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-shaders.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/src/lib/ws-thanos.options.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
