Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

build: 📦️ remove utils as it leads to errors
  package-lock.json
  package.json
Due: none

build: 📦️ try to add the other tests and configurations
  .github/workflows/ci-new.yml
Due: none

chore: 🔧 add schema to nx and add ci default target to tests
  nx.json
Due: none

chore: 🔧 run different targets in parallel
  .github/workflows/ci-new.yml
Due: none

ci: 👷 switch to new CI workflow
  .github/workflows/ci-new.yml
  .github/workflows/ci.yml
Due: none

test(angular-examples): 🚨 use baseUrl
  apps/angular-examples/playwright.config.ts
Due: angular-examples

test(bacteria-game-remote): 🚨 switch to playwright
  apps/bacteria-game-remote-e2e/.eslintrc.json
  apps/bacteria-game-remote-e2e/cypress.config.ts
  apps/bacteria-game-remote-e2e/project.json
  apps/bacteria-game-remote-e2e/src/e2e/bacteria-game.cy.ts
  apps/bacteria-game-remote-e2e/src/fixtures/example.json
  apps/bacteria-game-remote-e2e/src/support/app.po.ts
  apps/bacteria-game-remote-e2e/src/support/commands.ts
  apps/bacteria-game-remote-e2e/src/support/e2e.ts
  apps/bacteria-game-remote-e2e/tsconfig.json
  apps/bacteria-game-remote/.eslintrc.json
  apps/bacteria-game-remote/e2e/bacteria-game-remote.spec.ts
  apps/bacteria-game-remote/jest.config.ts
  apps/bacteria-game-remote/playwright.config.ts
Due: bacteria-game-remote

test(feat-lazy-gravity-rocks): 🚨 fix support file issue
  apps/feat-lazy-gravity-rocks-e2e/cypress.config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.stories.ts
Due: feat-lazy-gravity-rocks

test(rollapolla): 🚨 switch to playwright
  apps/rollapolla-e2e/.eslintrc.json
  apps/rollapolla-e2e/cypress.config.ts
  apps/rollapolla-e2e/project.json
  apps/rollapolla-e2e/src/e2e/app.cy.ts
  apps/rollapolla-e2e/src/fixtures/example.json
  apps/rollapolla-e2e/src/support/app.po.ts
  apps/rollapolla-e2e/src/support/commands.ts
  apps/rollapolla-e2e/src/support/e2e.ts
  apps/rollapolla-e2e/tsconfig.json
  apps/rollapolla/.eslintrc.json
  apps/rollapolla/e2e/rollapolla.spec.ts
  apps/rollapolla/playwright.config.ts
Due: none

test(rollapolla): 🚨 jest ignore e2e tests
  apps/rollapolla-cdk/jest.config.ts
Due: none

test: 🚨 ignore e2e path globally for jest
  apps/angular-examples/jest.config.ts
  apps/bacteria-game-remote/jest.config.ts
  apps/rollapolla-cdk/jest.config.ts
  jest.preset.js
Due: angular-examples, bacteria-game-remote

test: 🚨 fix support file issue
  apps/fourier-analysis-remote-e2e/cypress.config.ts
  apps/fourier-analysis-remote-e2e/project.json
Due: fourier-analysis-remote

test: 🚨 run only cypress tests for projects with tags e2e
  .github/workflows/ci-new.yml
Due: none

ci: 👷 change apostrophes for compatibility with parallel bash command
  .github/workflows/ci-new.yml
Due: none

ci: 👷 escape apostrophes
  .github/workflows/ci-new.yml
Due: none

fix(deps): :arrow_up: update nx monorepo to v17.2.2
  .npmrc
  package-lock.json
  package.json
Due: none

test: 🚨 replace cypress with playwright
  apps/fourier-analysis-remote-e2e/.eslintrc.json
  apps/fourier-analysis-remote-e2e/cypress.config.ts
  apps/fourier-analysis-remote-e2e/project.json
  apps/fourier-analysis-remote-e2e/src/e2e/app.cy.ts
  apps/fourier-analysis-remote-e2e/src/support/app.po.ts
  apps/fourier-analysis-remote-e2e/src/support/commands.ts
  apps/fourier-analysis-remote-e2e/src/support/e2e.ts
  apps/fourier-analysis-remote-e2e/src/support/index.ts
  apps/fourier-analysis-remote-e2e/tsconfig.json
  apps/fourier-analysis-remote/.eslintrc.json
  apps/fourier-analysis-remote/e2e/fourier-analysis.spec.ts
  apps/fourier-analysis-remote/playwright.config.ts
Due: fourier-analysis-remote

ci: 👷 leave cypress for storybook tests
  .github/workflows/ci-new.yml
  apps/feat-lazy-gravity-rocks-e2e/project.json
  libs/features/lazy/gravity-rocks/.storybook/main.ts
Due: feat-lazy-gravity-rocks

ci: 👷 update package-lock.json
  package-lock.json
Due: none

ci: 👷 run cmds not in parallel to maximize distribution
  .github/workflows/ci-new.yml
Due: none

chore: 🔧 fix module boundaries error
  apps/feat-lazy-gravity-rocks-e2e/project.json
Due: none

ci: 👷 let husky format the Changelog.md when release is commited
  .github/workflows/release.yml
Due: none

ci: 👷 format changelog
  CHANGELOG.md
Due: none

chore: 🔧 align angular and tslib version
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package.json
  libs/shared/ws-gl/package.json
  libs/test-helper/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  libs/utils/math/package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

chore: 🔧 align angular and tslib version
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: none

ci: 👷 remove old ci pipeline
  .github/workflows/ci-cd.yml
  .github/workflows/ci-old.yml
Due: none

fix(deps): :arrow_up: update dependency mathjs to v12.4.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency chai to v5
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

ci: 👷 use husky to format the generated CHANGELOG
  .github/workflows/release.yml
  .github/workflows/trigger-release.yml
  .prettierignore
  package-lock.json
Due: none

chore(deps): :arrow_up: update dependency eslint-plugin-playwright to v1
  package-lock.json
  package.json
Due: none

feat: ✨ use new angular logo
  apps/angular-examples/src/assets/logos/angular.svg
Due: angular-examples

chore: 🔧 update package-lock
  package-lock.json
Due: none

Revert "chore(deps): :arrow_up: update dependency eslint-plugin-playwright to v1"
  package-lock.json
  package.json
Due: none

chore: 🔧 ignore updates of specific packages for a while
  .github/renovate.json
Due: none

ci: 👷 don't cancel workspaces on main
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
