Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

fix(deps): :arrow_up: update dependency aws-cdk to ^2.95.0
  package.json
Due: none

fix(deps): :arrow_up: update dependency ace-builds to v1.24.2
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.49.0
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.17.15
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency aws-cdk-lib to ^2.95.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency aws-cdk to ^2.95.1
  package.json
Due: none

chore(deps): :arrow_up: update codecov/codecov-action action to v4
  .github/workflows/ci.yml
Due: none

chore: 🔧 update package.json
  package-lock.json
  package.json
Due: none

feat(feat-lazy-tf-examples): ✨ Update build and test commands
  .github/workflows/ci.yml
  apps/angular-examples-e2e/src/e2e/app.cy.ts
  apps/bacteria-game-remote-e2e/src/e2e/bacteria-game.cy.ts
  apps/fourier-analysis-remote-e2e/src/e2e/app.cy.ts
  apps/rollapolla-e2e/src/e2e/app.cy.ts
  libs/features/lazy/tensorflow-examples/.eslintrc.json
  libs/features/lazy/tensorflow-examples/cypress.config.ts
  libs/features/lazy/tensorflow-examples/cypress/e2e/tensorflow.cy.ts
  libs/features/lazy/tensorflow-examples/cypress/support/commands.ts
  libs/features/lazy/tensorflow-examples/cypress/support/component-index.html
  libs/features/lazy/tensorflow-examples/cypress/support/component.ts
  libs/features/lazy/tensorflow-examples/cypress/support/e2e.ts
  libs/features/lazy/tensorflow-examples/cypress/support/tensorflow-examples.po.ts
  libs/features/lazy/tensorflow-examples/cypress/tsconfig.json
  libs/features/lazy/tensorflow-examples/project.json
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.ts
  libs/features/lazy/tensorflow-examples/tsconfig.json
  libs/features/lazy/tensorflow-examples/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
Due: angular-examples, bacteria-game-remote, feat-lazy-tf-examples, fourier-analysis-remote

ci(codecov): fix version accindentally update to v4
  .github/workflows/ci.yml
Due: none

chore(deps): :bookmark: update actions/checkout digest to 8ade135
  .github/workflows/ci.yml
  .github/workflows/code-ql-analysis.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/release.yml
  .github/workflows/trigger-release.yml
Due: none

refactor(feat-lazy-tf-examples): ♻️ update tensorflow-examples routes and component
  libs/features/lazy/tensorflow-examples/src/lib/routes.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/tensorflow-examples.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/tensorflow-examples.component.html
Due: feat-lazy-tf-examples

test(feat-lazy-tf-examples): 🚨 add component tests
  .idea/other.xml
  libs/features/lazy/tensorflow-examples/cypress.config.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.component.cy.ts
Due: feat-lazy-tf-examples

fix(angular-examples): 🐛 provide http client
  apps/angular-examples/src/bootstrap.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/mnist-data.service.ts
Due: angular-examples, feat-lazy-tf-examples

test(feat-lazy-tf-examples): 🚨 provide http client for test
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.cy.ts
Due: feat-lazy-tf-examples

perf: ⚡️ add willReadFrequently: true to canvases
  apps/angular-examples/src/app/feature/lazy/poisson/feature/canvas-view/canvas-view.component.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/calculation/reaction-diff-gpu-calc.service.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/mnist-data.service.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: angular-examples, feat-lazy-bacteria-game, feat-lazy-react-diff, feat-lazy-tf-examples

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

test: 🚨 Update S3Key in main.spec.ts.snap
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore: 🔧 update package dependencies
  package-lock.json
  package.json
Due: none

feat: ✨ Update @angular/cli version to 16.2.3
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.cy.ts
  package-lock.json
  package.json
Due: feat-lazy-tf-examples

chore(deps): :arrow_up: update nrwl/nx-set-shas action to v4
  .github/workflows/ci.yml
Due: none

chore: 🔧 update package versions
  package-lock.json
  package.json
Due: none
