Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

build: 📦️ fix package.jsons for libs to not use dependencies
  libs/features/lazy/gravity-rocks/package.json
Due: feat-lazy-gravity-rocks

build: 📦️ add cypress/angular-signals for more component testing
  .github/workflows/ci-cd.yml
  .idea/wol-sok-mono.iml
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.scss
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.ts
  package-lock.json
  package.json
Due: feat-lazy-tf-examples

test(shared-data-access): 🚨 switched to vite
  libs/shared/data-access/jest.config.ts
  libs/shared/data-access/package.json
  libs/shared/data-access/project.json
  libs/shared/data-access/src/lib/data-access/database.service.spec.ts
  libs/shared/data-access/src/test-setup.ts
  libs/shared/data-access/tsconfig.lib.json
  libs/shared/data-access/tsconfig.spec.json
  libs/shared/data-access/vite.config.ts
Due: none

test(angular-examples): 🚨 fixed tests
  apps/angular-examples/jest.config.ts
  apps/angular-examples/src/app/app.component.spec.ts
  apps/angular-examples/src/test-setup.ts
  apps/angular-examples/tsconfig.spec.json
  libs/shared/data-access/tsconfig.spec.json
  libs/ui-kit/tsconfig.json
  package-lock.json
  package.json
Due: angular-examples, ui-kit

test: 🚨 fixed tests
  libs/features/api/auth/src/test-setup.ts
Due: feat-api-auth

test: 🚨 fixed jest-preset-angular setup
  apps/bacteria-game-remote/src/test-setup.ts
  apps/fourier-analysis-remote/src/test-setup.ts
  apps/shader-examples-remote/src/test-setup.ts
  libs/features/lazy/bacteria-game/src/test-setup.ts
  libs/features/lazy/fourier-analysis/src/test-setup.ts
  libs/features/lazy/gravity-rocks/src/test-setup.ts
  libs/features/lazy/neural-networks/src/test-setup.ts
  libs/features/lazy/poisson/src/test-setup.ts
  libs/features/lazy/reaction-diffusion/src/test-setup.ts
  libs/features/lazy/shader-examples/src/test-setup.ts
  libs/features/lazy/some-gpu-calculation/src/test-setup.ts
  libs/features/lazy/tensorflow-examples/src/test-setup.ts
  libs/features/lazy/wasm-test/src/test-setup.ts
  libs/fib-wasm-api/src/test-setup.ts
  libs/shared/headline-animation/src/test-setup.ts
  libs/ui-kit/src/test-setup.ts
  libs/utils/gpu-calc/src/test-setup.ts
Due: bacteria-game-remote, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-gpu-calc

style: 🎨 remove comments
  apps/angular-examples/src/test-setup.ts
  libs/features/api/auth/src/test-setup.ts
Due: angular-examples, feat-api-auth

style: 🎨 get rid of ! operator
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.service.ts
Due: feat-lazy-tf-examples

style: 🎨 get rid of ! operator
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
Due: ui-kit

style: 🎨 fix lint errors
  apps/rollapolla-analog/e2e/fixture/logs.fixture.ts
  apps/rollapolla-analog/e2e/pos/home.page.ts
  apps/rollapolla-analog/src/app/core/notes/notes-list.component.ts
Due: none

ci: 👷 only one affected command
  .github/workflows/ci-cd.yml
Due: none

chore(deps): update dependency angular-eslint to v18.4.1
  package-lock.json
Due: none

chore(deps): update dependency @module-federation/enhanced to v0.7.6
  package-lock.json
Due: none

chore(deps): update nx monorepo to v18.4.1
  package-lock.json
  package.json
Due: none

test: 🚨 fix coverage reports for vitest based libs and projects
  apps/rollapolla-analog/project.json
  apps/rollapolla-analog/vite.config.mts
  libs/public/spa-cdk-stack/project.json
  libs/public/spa-cdk-stack/vite.config.ts
  libs/shared/data-access/project.json
  libs/shared/data-access/vite.config.ts
Due: none

ci: 👷 upload coverage report with version 5
  .github/workflows/ci-cd.yml
Due: none

fix(deps): update analog monorepo to v1.9.4
  package-lock.json
  package.json
Due: none

build: 📦️ fix inputs for e2e
  nx.json
Due: none

test: 🚨 mock firebase even more
  libs/shared/data-access/src/lib/data-access/database.service.spec.ts
Due: none

fix(deps): update dependency vega-embed to v6.29.0
  package-lock.json
  package.json
Due: none

ci: 👷 always use only 3 agents
  .github/workflows/ci-cd.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

ci: 👷 configure e2e inputs and e2e-ci
  nx.json
Due: none

chore(deps): update dependency @playwright/test to v1.49.0
  package-lock.json
Due: none

test: 🚨 don't override codeCoverage reporters
  apps/angular-examples/jest.config.ts
  apps/bacteria-game-remote/jest.config.ts
  apps/fourier-analysis-remote/jest.config.ts
  jest.preset.js
  libs/features/api/auth/jest.config.ts
  libs/features/lazy/bacteria-game/jest.config.ts
  libs/features/lazy/fourier-analysis/jest.config.ts
  libs/features/lazy/gravity-rocks/jest.config.ts
  libs/features/lazy/reaction-diffusion/jest.config.ts
  libs/features/lazy/shader-examples/jest.config.ts
  libs/features/lazy/some-gpu-calculation/jest.config.ts
  libs/features/lazy/tensorflow-examples/jest.config.ts
  libs/features/lazy/wasm-test/jest.config.ts
  libs/fib-wasm-api/jest.config.ts
  libs/ui-kit/jest.config.ts
  libs/utils/decorators/jest.config.ts
  libs/utils/gpu-calc/jest.config.ts
  libs/utils/measure-fps/jest.config.ts
  libs/utils/operators/jest.config.ts
Due: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

ci: 👷 set parallelism to 6
  nx.json
Due: none

ci: 👷 adjust cypress path and add missing apt package for playwright
  .nx/workflows/agents.yml
Due: none

ci: 👷 use cloud agents for create release
  .github/workflows/release.yml
Due: none

build: 📦️ changed generator e2e tests default to playwright
  nx.json
Due: none

ci: 👷 fix hopefully inputs for e2e-ci
  apps/angular-examples/project.json
  nx.json
Due: angular-examples

ci: 👷 fix hopefully inputs for e2e-ci
  nx.json
Due: none

ci: 👷 fix hopefully inputs for e2e-ci
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 no parallel and more distribution
  .github/workflows/ci-cd.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

ci: 👷 maybe fix release artefact and ci parallelism
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
Due: none

ci: 👷 set ci parallelism to 3
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 debug release flow
  .github/workflows/deploy.yml
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
