Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

docs: add codecov
  README.md
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1304.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency postcss-preset-env to v8.0.1
  package-lock.json
  package.json
Due: none

ci: set warmup caches timeout to 10 min
  .github/workflows/ci.yml
Due: none

chore: add nx-create-migrations.sh
  nx-create-migrations.sh
Due: none

chore(deps): :arrow_up: update dependency axios to v1.2.6
  package-lock.json
  package.json
Due: none

chore(deps): update nx-squeezer
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace to v15.6.3
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency browserslist to v4.21.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.33.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @nrwl/nx-cloud to v15.0.3
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency mathjs to v11.5.1
  libs/features/lazy/fourier-analysis/package.json
  package-lock.json
  package.json
Due: feat-lazy-fourier-analysis

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v5.50.0
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

ci(checkly): update check url
  __checks__/angular-examples.check.js
Due: none

fix(ui-kit-render-shader): check for WEBGL before trying to render
  libs/ui-kit/src/lib/render-shader/render-shader.component.html
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
Due: ui-kit

fix(ui-kit-render-shader): use CanvasRenderer if WebGL is not available
  libs/ui-kit/src/lib/render-shader/render-shader.component.html
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
  package-lock.json
  package.json
Due: ui-kit

fix(deps): :arrow_up: update all non-major dependencies
  libs/fib-wasm-api/package.json
  libs/fib-wasm/package.json
  package-lock.json
  package.json
Due: fib-wasm-api

chore(deps): :arrow_up: update nrwl workspace
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
