Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package.json
Due: none

chore(deps): :bookmark: update actions/checkout digest to b4ffde6
  .github/workflows/ci.yml
  .github/workflows/code-ql-analysis.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/release.yml
  .github/workflows/trigger-release.yml
Due: none

chore(deps): :arrow_up: update actions/setup-node action to v4
  .github/actions/install-deps/action.yml
  .github/workflows/trigger-release.yml
Due: none

chore(deps): :arrow_up: update commitlint monorepo to v18
  package.json
Due: none

build: 📦️ update nx to 17.0.1
  .gitignore
  .prettierignore
  apps/angular-examples-e2e/project.json
  apps/angular-examples/project.json
  apps/bacteria-game-remote-e2e/project.json
  apps/bacteria-game-remote/project.json
  apps/feat-lazy-gravity-rocks-e2e/project.json
  apps/fourier-analysis-remote-e2e/project.json
  apps/fourier-analysis-remote/project.json
  apps/rollapolla-cdk/project.json
  apps/rollapolla-e2e/project.json
  apps/rollapolla/project.json
  libs/features/api/auth/project.json
  libs/features/lazy/bacteria-game/project.json
  libs/features/lazy/fourier-analysis/project.json
  libs/features/lazy/gravity-rocks/project.json
  libs/features/lazy/reaction-diffusion/project.json
  libs/features/lazy/shader-examples/project.json
  libs/features/lazy/some-gpu-calculation/project.json
  libs/features/lazy/tensorflow-examples/project.json
  libs/features/lazy/wasm-test/project.json
  libs/features/reaction-diffusion-kernels/project.json
  libs/fib-wasm-api/project.json
  libs/public/ws-thanos/project.json
  libs/ui-kit/project.json
  libs/utils/decorators/project.json
  libs/utils/gpu-calc/project.json
  libs/utils/measure-fps/project.json
  libs/utils/operators/project.json
  nx.json
  package-lock.json
  package.json
Due: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix: 🐛 remove updateBuildableProjectDepsInPackageJson in project.jsons
  .idea/wol-sok-mono.iml
  libs/features/api/auth/project.json
  libs/features/lazy/bacteria-game/project.json
  libs/features/lazy/fourier-analysis/project.json
  libs/features/lazy/gravity-rocks/project.json
  libs/features/lazy/reaction-diffusion/project.json
  libs/features/lazy/shader-examples/project.json
  libs/features/lazy/some-gpu-calculation/project.json
  libs/features/lazy/tensorflow-examples/project.json
  libs/features/lazy/wasm-test/project.json
  libs/features/reaction-diffusion-kernels/project.json
  libs/fib-wasm-api/project.json
  libs/public/ws-thanos/project.json
  libs/ui-kit/project.json
  libs/utils/decorators/project.json
  libs/utils/gpu-calc/project.json
  libs/utils/measure-fps/project.json
  libs/utils/operators/project.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

test(rollapolla-cdk): 🚨 update snapshot
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
Due: none

fix(fourier-analysis-remote): 🐛 remove buildFromLibs: false
  apps/fourier-analysis-remote/project.json
Due: fourier-analysis-remote

ci: 👷 use only 4 agents
  .github/workflows/ci.yml
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1481.0
  package.json
Due: none

chore(deps): :arrow_up: update dependency @commitlint/cli to ^18.2.0
  package.json
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1482.0
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
