Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix(release): 🐛 🚀 publish scoped packages with public access
  libs/public/spa-cdk-stack/package.json
  libs/public/ws-thanos/package.json
Due: none

fix(angular-examples): 🐛 loosen p5 singleton across federation
  apps/angular-examples/module-federation.config.ts
  apps/angular-examples/module-federation.prod.config.ts
  apps/fourier-analysis-remote/module-federation.config.ts
Due: angular-examples, fourier-analysis-remote

docs(nx): 📚️ 📝 add commit scope rules and target/MF policy
  CLAUDE.md
Due: none

fix(ci): re-add nx format:check step
  .github/workflows/ci-cd.yml
Due: none

chore(ci): update Node.js from 20 to 24
  .github/workflows/deploy.yml
  .nvmrc
Due: none

fix: address review feedback
  .github/workflows/deploy.yml
  docs/GETTING_STARTED.md
Due: none

fix(ci): fix npm publish pipeline for @wolsok/* scoped packages
  .github/workflows/deploy.yml
Due: none

fix(release): build npm packages before publishing
  nx.json
Due: none

fix(release): bump library versions via nx release before tagging
  .github/workflows/trigger-release.yml
Due: none

refactor(github): use shared install-deps composite action in trigger-release
  .github/workflows/trigger-release.yml
Due: none

fix(release): commit and tag library bumps from nx release version
  .github/workflows/trigger-release.yml
  nx.json
Due: none

fix(release): derive --first-release check from tag:published projects
  .github/workflows/trigger-release.yml
Due: none

Integrate Nx release version command into release workflow (#2132)
  .github/workflows/trigger-release.yml
  nx.json
Due: none

fix(release): fall back to disk version when no git tag matches
  .github/workflows/trigger-release.yml
  nx.json
Due: none

fix(release): switch npm publish to OIDC trusted publishing
  .github/workflows/deploy.yml
Due: none

chore: 🔧 add CI monitor subagent with command specifications and guidelines
  .claude/scheduled_tasks.lock
  .codex/agents/ci-monitor-subagent.toml
  .codex/config.toml
  CLAUDE.md
Due: none

fix(feat-lazy-bacteria-game): align @wolsok/thanos peer dep with installed 17.0.0
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

Update .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: none

fix(ci): downgrade Node target from 24 to 22 to fix gl native build
  .nvmrc
Due: none

fix(ci): downgrade Node target from 24 to 22 to fix gl native build
  docs/GETTING_STARTED.md
Due: none

Apply suggestions from code review
  apps/rollapolla-analog/firestore.rules
Due: none

fix(security): tighten Firestore rules — remove notes create, add chatMessages field/TTL validation
  apps/rollapolla-analog/firestore.rules
Due: none

fix(security): replace world-open Firestore rules with per-collection access control
  apps/rollapolla-analog/firestore.rules
Due: none

fix(feat-lazy-bacteria-game): resolve lint error blocking main CI
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

fix(feat-lazy-bacteria-game): bump @wolsok/thanos peer dep to 17.0.1
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

fix(feat-lazy-bacteria-game): fix lint error to restore main CI
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

chore(github): suppress Renovate lookup failures for internal @wolsok/* packages
  .github/renovate.json
Due: none

chore(github): narrow internalPackagePatterns to exclude @wolsok/nx-aws-cdk-v2
  .github/renovate.json
Due: none

fix(bacteria-game): use range peerDependency for @wolsok/thanos to prevent recurrent CI failures
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

fix(feat-lazy-bacteria-game): use peerDep range ^17.0.0 to unblock PR CI (mirrors PR #2148)
  libs/features/lazy/bacteria-game/package.json
Due: feat-lazy-bacteria-game

fix(deps): apply non-breaking npm audit fixes
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package-lock.json
Due: none

chore: add nightshift label-setup workflow
  .github/workflows/nightshift-setup-labels.yml
Due: none

chore: trigger nightshift label creation
  .github/workflows/nightshift-setup-labels.yml
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
