Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore(deps): update swc monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss to v8.4.48
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v5.4.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v10.1.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency marked to v15
  package-lock.json
  package.json
Due: none

chore(deps): update dependency assemblyscript to v0.27.31
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss to v8.4.49
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @assemblyscript/loader to v0.27.31
  package-lock.json
  package.json
Due: none

chore: 🔧 migrate to nx 20.1.0
  .idea/vcs.xml
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v8.14.0
  package-lock.json
  package.json
Due: none

chore: 🔧 switch to enhanced module federation
  .idea/vcs.xml
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/assets/module-federation.manifest.json
  apps/angular-examples/src/assets/module-federation.manifest.prod.json
  apps/angular-examples/src/bootstrap.ts
  apps/angular-examples/src/main.ts
  package-lock.json
  package.json
Due: angular-examples

build: 📦️ update analogjs
  .idea/vcs.xml
  package-lock.json
  package.json
Due: none

fix: 🐛 module federation by providing webpack config a little different
  .idea/vcs.xml
  apps/angular-examples/webpack.config.ts
  apps/angular-examples/webpack.prod.config.ts
Due: angular-examples

test: 🚨 fix angular e2e tests
  apps/angular-examples/module-federation.config.ts
Due: angular-examples

test: 🚨 fix angular e2e tests
  apps/angular-examples/playwright.config.ts
Due: angular-examples

feat: ✨ invert shader-examples order for more impressive visuals
  libs/features/lazy/shader-examples/src/lib/shader-examples.component.html
  libs/features/lazy/shader-examples/src/lib/state/shader-code.query.ts
Due: feat-lazy-shader-examples

feat: ✨ remove impicit dependency for angular example
  apps/angular-examples/project.json
Due: angular-examples

feat: ✨ better contrast for theme toggle
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
Due: angular-examples

fix: 🐛 fib wasm absolute path
  libs/fib-wasm-api/src/lib/instantiate-fib-wasm.service.ts
Due: fib-wasm-api

chore: 🔧 replace webpackconfig js with ts
  apps/bacteria-game-remote/module-federation.config.ts
  apps/bacteria-game-remote/project.json
  apps/bacteria-game-remote/webpack.config.js
  apps/bacteria-game-remote/webpack.config.ts
  apps/bacteria-game-remote/webpack.prod.config.js
  apps/bacteria-game-remote/webpack.prod.config.ts
Due: bacteria-game-remote

fix: 🐛 fix wasm content type
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: angular-examples

fix: 🐛 remove filter
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
Due: angular-examples

chore(deps): update storybook monorepo to v8.4.3
  package-lock.json
  package.json
Due: none

chore(deps): update vitest monorepo to v2.1.5
  package-lock.json
  package.json
Due: none

fix: 🐛 filter all but optimized.wasm
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: angular-examples

fix(deps): update dependency mathjs to v13.2.2
  package-lock.json
  package.json
Due: none

fix(deps): update nx monorepo to v18.2.13
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/three to v0.170.0
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
