Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

fix(deps): :arrow_up: update dependency mathjs to v12.1.0
  package.json
Due: none

build: 📦️ migrate to nx@17.1.2
  package-lock.json
  package.json
Due: none

fix: 🐛 control flow syntax
  apps/angular-examples/src/app/feature/lazy/neural-network/multi-perceptron/multi-perceptron.component.ts
  apps/angular-examples/src/app/feature/lazy/neural-network/neural-network.component.ts
  apps/angular-examples/src/app/feature/lazy/neural-network/perceptron-tab/perceptron-tab.component.ts
  apps/rollapolla/src/app/welcome.component.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-options/wave-options.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.html
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/weights-config/weights-config.component.html
  libs/features/lazy/shader-examples/src/lib/code-editor/code-editor.component.html
  libs/features/lazy/shader-examples/src/lib/shader-examples.component.html
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/tensorflow-examples.component.html
  libs/features/lazy/wasm-test/src/lib/wasm-test.component.html
  libs/ui-kit/src/lib/show-fps/show-fps.component.html
Due: angular-examples, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, ui-kit

feat: ✨ some deferred loading
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.ts
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.ts
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
Due: angular-examples, feat-lazy-bacteria-game

ci: 👷 adapt install to provide native lib
  .github/actions/install-deps/action.yml
Due: none

test: 🚨 update snapshot
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
Due: none

chore(deps): :arrow_up: update nx monorepo
  .npmrc
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

feat: ✨ make sidebar also dynamic on large screens
  apps/angular-examples/src/app/feature/navigation/side-nav/side-nav.component.html
  apps/angular-examples/src/app/feature/navigation/side-nav/side-nav.component.ts
Due: angular-examples

fix(deps): :arrow_up: update dependency @assemblyscript/loader to v0.27.19
  package-lock.json
  package.json
Due: none

refactor: ♻️ remove outdated code
  apps/angular-examples/src/app/core/state/index.ts
  apps/angular-examples/src/app/core/state/shader-examples-shader-code-data.service.ts
  apps/angular-examples/src/app/core/state/shader-examples-shader-code.model.ts
  apps/angular-examples/src/app/core/state/shader-examples-shader-code.query.ts
  apps/angular-examples/src/app/core/state/shader-examples-shader-code.service.ts
  apps/angular-examples/src/app/core/state/shader-examples-shader-code.store.ts
Due: angular-examples

fix: 🐛 remove html '<'
  libs/features/lazy/shader-examples/src/lib/shader-examples.component.html
Due: feat-lazy-shader-examples

refactor: ♻️ main toolbar to signals
  apps/angular-examples/src/app/core/headline-animation.service.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.ts
Due: angular-examples

ci: 👷 set checkout to v4
  .github/workflows/ci.yml
  .github/workflows/code-ql-analysis.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/release.yml
  .github/workflows/trigger-release.yml
Due: none

fix(deps): :arrow_up: update dependency core-js to v3.33.3
  package-lock.json
  package.json
Due: none

feat: ✨ use loadRemoteModule again
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  libs/features/lazy/shader-examples/src/lib/shader-examples-routes.ts
Due: angular-examples, feat-lazy-shader-examples

feat: ✨ remove unecessary 100vh
  apps/angular-examples/src/app/app.component.scss
  apps/angular-examples/src/styles.scss
Due: angular-examples

feat: ✨ add shader-examples-remote to implicit deps
  apps/angular-examples/project.json
Due: angular-examples

fix(deps): :arrow_up: update dependency @sentry/angular-ivy to ^7.81.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ng-packagr to v17.0.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v17.0.2
  .npmrc
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update angular monorepo to v17.0.4
  package.json
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1500.0
  package-lock.json
  package.json
Due: none
