Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

feat(feat-lazy-gravity-rocks): let the simulation run slower and faster (#2232)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): run the world on real astronomy
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/solar-system.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep the long-press menu open on a phone
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

docs(feat-lazy-gravity-rocks): correct the numbers the comments quote
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): let a real planet grow and start on the gravity that is set
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/solar-system.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): stop the settings calling their own values wrong
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): run the gravity world on real astronomy (#2233)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/solar-system.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): make the velocity arrows a setting, off by default
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(pacetrainer): hide toolbar subtitle on narrow viewports to stop horizontal scroll
  apps/pacetrainer/src/app/pages/pacetrainer-title.component.ts
Due: none

feat(feat-lazy-gravity-rocks): make the velocity arrows a setting, off by default (#2234)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(pacetrainer): make e2e tagline visibility check viewport-aware
  apps/pacetrainer/e2e/pos/home.page.ts
Due: none

fix(pacetrainer): stop horizontal scroll on mobile by hiding toolbar subtitle (#2235)
  apps/pacetrainer/e2e/pos/home.page.ts
  apps/pacetrainer/src/app/pages/pacetrainer-title.component.ts
Due: none

fix(feat-lazy-gravity-rocks): let a moon's orbit and distance from its planet be adjusted
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep a grown moon's distance label truthful
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore(deps): update dependency mime-types to v3.0.2
  package-lock.json
  package.json
Due: none

fix(feat-lazy-gravity-rocks): let a moon's orbit and mass be adjusted (#2238)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): toolbelt, settings panel and a usable next-moon orbit
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep the panel's pause and hint honest, drop a cut-short placement
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): toolbelt, settings panel and a usable next-moon orbit (#2240)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): draw and drag the orbit before a satellite is let go onto it
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep holding the drawn orbit through the browser's long press
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): draw and drag the orbit before a satellite is let go (#2241)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore(nx): keep package.json key order with oxfmt
  .oxfmtrc.json
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/fib-wasm-api/package.json
  libs/fib-wasm/package.json
  libs/public/nx-aws-cdk-v2/package.json
  libs/public/spa-cdk-stack/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package.json
  libs/shared/headline-animation/package.json
  libs/shared/ws-gl/package.json
  libs/test-helper/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  libs/utils/math/package.json
  package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

fix(math): generate uuids from crypto.getRandomValues
  libs/utils/math/src/lib/uuid.ts
Due: none

fix(remotes): add standalone font loading to fourier-analysis and shader-examples remotes (#2226)
  apps/fourier-analysis-remote/src/index.html
  apps/shader-examples-remote/src/index.html
Due: fourier-analysis-remote

feat(nx): enable type-aware oxlint rules
  .oxlintrc.json
  AGENTS.md
  CLAUDE.md
  apps/angular-examples-cdk/tsconfig.app.json
  apps/angular-examples/src/app/core/service-worker-update.service.ts
  apps/bacteria-game-remote-cdk/tsconfig.app.json
  apps/fourier-analysis-remote-cdk/tsconfig.app.json
  apps/rollapolla-analog/src/app/adapter/notes.converter.ts
  apps/shader-examples-remote-cdk/tsconfig.app.json
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/calculation/reaction-diff-gpu-calc.service.ts
  libs/features/lazy/shader-examples/src/lib/state/shader-examples.service.ts
  libs/features/lazy/shader-examples/src/lib/state/shader-examples.store.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/mnist-data.service.ts
  libs/fib-wasm-api/src/lib/fib-wasm-result-object.ts
  libs/fib-wasm/tsconfig.json
  libs/public/ws-thanos/src/lib/ws-thanos-options.token.spec.ts
  libs/shared/ws-gl/src/lib/model/glsl-code.types.ts
  libs/shared/ws-gl/src/lib/model/glsl-helper/uniform-helper.ts
  libs/ui-kit/tsconfig.spec.json
  libs/utils/decorators/tsconfig.spec.json
  libs/utils/measure-fps/tsconfig.spec.json
  libs/utils/operators/src/lib/rx/map-worker.op.ts
  libs/utils/operators/tsconfig.spec.json
  package-lock.json
  package.json
  tools/federation/workspace-federation.js
  tools/version-handling/latest-version-tag.ts
  tsconfig.base.json
Due: angular-examples, bacteria-game-remote, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-tf-examples, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-measure-fps, utils-operators

refactor(feat-lazy-gravity-rocks): tidy up the library before splitting it
  libs/features/lazy/gravity-rocks/.storybook/main.ts
  libs/features/lazy/gravity-rocks/.storybook/preview-head.html
  libs/features/lazy/gravity-rocks/.storybook/preview.ts
  libs/features/lazy/gravity-rocks/.storybook/tsconfig.json
  libs/features/lazy/gravity-rocks/README.md
  libs/features/lazy/gravity-rocks/src/index.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-path.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-paths.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-paths.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/spring-force.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/spring-force.ts
  libs/features/lazy/gravity-rocks/tsconfig.json
  libs/features/lazy/gravity-rocks/tsconfig.lib.json
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): make the world a store the component owns
  libs/features/lazy/gravity-rocks/src/index.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/create-solar-system.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): give the settings panel a component of its own
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/object-panel/object-panel.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/object-panel/object-panel.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/object-panel/object-panel.component.ts
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): make the toolbelt its own component
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/toolbelt/toolbelt.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/toolbelt/toolbelt.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/toolbelt/toolbelt.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/toolbelt/tools.ts
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): make the orbit tool a class of its own
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/clamp.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/object-panel/object-panel.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/orbit-tool/orbit-tool.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/orbit-tool/orbit-tool.ts
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): move zoom, pan and follow into a camera
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/camera/world-camera.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/camera/world-camera.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): turn raw pointers into gestures in one place
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/pointer-tracker.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/pointer-tracker.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/swallow-next-click.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/interaction/swallow-next-click.ts
Due: feat-lazy-gravity-rocks

feat(nx): lint Angular templates with angular-eslint next to oxlint
  .github/copilot-instructions.md
  .github/workflows/ci-cd.yml
  .vscode/extensions.json
  AGENTS.md
  CLAUDE.md
  apps/angular-examples/src/typings.d.ts
  apps/pacetrainer/e2e/pos/sprint-training.page.ts
  docs/CONTRIBUTING.md
  eslint.config.mjs
  lint-staged.config.js
  nx.json
  package-lock.json
  package.json
Due: angular-examples

test(feat-lazy-gravity-rocks): test each piece where it lives
  libs/features/lazy/gravity-rocks/README.md
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/object-panel/object-panel.component.spec.ts
Due: feat-lazy-gravity-rocks

docs(nx): run lint-templates in the manual pre-commit and pre-merge checklists
  AGENTS.md
  CLAUDE.md
Due: none

feat(nx): lint Angular templates with angular-eslint next to oxlint (#2245)
  .github/copilot-instructions.md
  .github/workflows/ci-cd.yml
  .vscode/extensions.json
  AGENTS.md
  CLAUDE.md
  apps/angular-examples/src/typings.d.ts
  apps/pacetrainer/e2e/pos/sprint-training.page.ts
  docs/CONTRIBUTING.md
  eslint.config.mjs
  lint-staged.config.js
  nx.json
  package-lock.json
  package.json
Due: angular-examples

chore(deps): 🔗 migrate Angular 20 -> 21 and move to Node 24
  .nvmrc
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.ts
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.ts
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/wasm-test/src/lib/wasm-test.component.ts
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/tsconfig.lib.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: angular-examples, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
