Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore: [nx migration] 21-1-0-add-ignore-entries-for-nx-rule-files
  .cursor/rules/nx-rules.mdc
  .gitignore
  migrations.json
  package-lock.json
Due: none

chore: [nx migration] update-21-2-0-remove-addon-dependencies
  migrations.json
  package-lock.json
  package.json
Due: none

chore: [nx migration] update-angular-cli-version-20-0-0
  migrations.json
  package-lock.json
  package.json
Due: none

chore: [nx migration] migrate-provide-server-rendering-import
  apps/pacetrainer/src/app/app.config.server.ts
  apps/rollapolla-analog/src/app/app.config.server.ts
  migrations.json
  package-lock.json
  package.json
Due: none

chore: [nx migration] set-generator-defaults-for-previous-style-guide
  migrations.json
  nx.json
Due: none

chore: [nx migration] update-angular-cli-version-20-1-0
  migrations.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v6.2.7 [security]
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update commitlint monorepo to v19.8.1
  package-lock.json
  package.json
Due: none

chore: 🔧 remove tsconfig.json and update VSCode settings for nx workspace path
  .vscode/settings.json
  tsconfig.json
Due: none

chore: 🔧 fix moduleResolution casing in tsconfig and clean up circle-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.ts
  tsconfig.base.json
Due: feat-lazy-fourier-analysis

chore: 🔧 replace provideExperimentalZonelessChangeDetection with provideZonelessChangeDetection in setup and spec files
  apps/pacetrainer/src/app/app.component.spec.ts
  apps/pacetrainer/src/app/app.config.ts
  apps/pacetrainer/src/app/features/training-configuration/data/sprint-training-data.service.spec.ts
  apps/pacetrainer/src/app/shared/training-runner/training-runner.service.spec.ts
  apps/rollapolla-analog/src/app/app.component.spec.ts
  apps/rollapolla-analog/src/app/app.config.ts
  apps/rollapolla-analog/src/test-setup.ts
Due: none

chore: 🔧 update testing environment to use BrowserTestingModule and platformBrowserTesting
  apps/pacetrainer/src/test-setup.ts
  apps/rollapolla-analog/src/test-setup.ts
  libs/public/ws-thanos/src/test.ts
  libs/shared/data-access/src/test-setup.ts
Due: none

chore: 🔧 update agents.yml to install LTS version of Node.js
  .nx/workflows/agents.yml
Due: none

chore: 🔧 update agents.yml to use image with correct v9 and improve installation logging
  .nx/workflows/agents.yml
Due: none

fix(deps): update dependency mermaid to v11.10.0 [security]
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @angular/platform-server to v20.3.0 [security]
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @angular/ssr to ~20.3.0 [security]
  package-lock.json
  package.json
Due: none

Add e2e coverage for nx cdk deploy target
  apps/nx-aws-cdk-v2-e2e/tests/aws-cdk.spec.ts
Due: none

Fix lint escape characters in deploy e2e test
  apps/nx-aws-cdk-v2-e2e/tests/aws-cdk.spec.ts
Due: none

Improve e2e checks for module workspaces and deploy stubs
  apps/nx-aws-cdk-v2-e2e/tests/aws-cdk.spec.ts
Due: none

Add e2e coverage for nx cdk deploy target
  libs/public/nx-aws-cdk-v2/src/generators/application/application.spec.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/application.ts
Due: none

feat: add synth executor and coverage
  libs/public/nx-aws-cdk-v2/README.md
  libs/public/nx-aws-cdk-v2/executors.json
  libs/public/nx-aws-cdk-v2/src/executors/synth/schema.d.ts
  libs/public/nx-aws-cdk-v2/src/executors/synth/schema.json
  libs/public/nx-aws-cdk-v2/src/executors/synth/synth.spec.ts
  libs/public/nx-aws-cdk-v2/src/executors/synth/synth.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/application.spec.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/application.ts
  libs/public/nx-aws-cdk-v2/src/utils/executor.util.ts
Due: none

feat: add synth executor and coverage
  apps/nx-aws-cdk-v2-e2e/tests/aws-cdk.spec.ts
Due: none

fix: load nx cypress preset with esm import
  .env
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .gitignore
  libs/features/lazy/tensorflow-examples/cypress.config.ts
Due: feat-lazy-tf-examples

refactor: load nx cypress preset via createRequire
  libs/features/lazy/tensorflow-examples/cypress.config.ts
Due: feat-lazy-tf-examples

chore: 🔧 remove module type from package.json and add AGENTS.md for repository guidelines
  .gemini/settings.json
  AGENTS.md
  package.json
Due: none

chore: 🔧 remove rejectErrors option from toSignal in chat and notes adapters;
  apps/rollapolla-analog/src/app/adapter/chat-messages-repo-adapter.service.ts
  apps/rollapolla-analog/src/app/adapter/notes-repo.adapter.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.ts
Due: feat-lazy-fourier-analysis

chore: 🔧 remove cypress tests
  .github/actions/install-deps/action.yml
  .github/workflows/ci-cd.yml
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.ask.xml
  .idea/copilot.data.migration.edit.xml
  .nx/workflows/agents.yml
  README.md
  libs/features/lazy/tensorflow-examples/cypress.config.ts
  libs/features/lazy/tensorflow-examples/cypress/e2e/tensorflow.cy.ts
  libs/features/lazy/tensorflow-examples/cypress/support/commands.ts
  libs/features/lazy/tensorflow-examples/cypress/support/component-index.html
  libs/features/lazy/tensorflow-examples/cypress/support/component.ts
  libs/features/lazy/tensorflow-examples/cypress/support/e2e.ts
  libs/features/lazy/tensorflow-examples/cypress/support/tensorflow-examples.po.ts
  libs/features/lazy/tensorflow-examples/cypress/tsconfig.json
  libs/features/lazy/tensorflow-examples/eslint.config.js
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/tensorflow-examples/project.json
  libs/features/lazy/tensorflow-examples/tsconfig.json
  libs/features/lazy/tensorflow-examples/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
Due: feat-lazy-tf-examples

chore: 🔧 remove module type from package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/reaction-diffusion-kernels/package.json
  libs/fib-wasm-api/package.json
  libs/fib-wasm/package.json
  libs/public/spa-cdk-stack/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package.json
  libs/shared/headline-animation/package.json
  libs/shared/ws-gl/package.json
  libs/test-helper/package.json
  libs/ui-kit/package.json
  libs/utils/decorators/package.json
  libs/utils/gpu-calc/package.json
  libs/utils/math/package.json
  libs/utils/measure-fps/package.json
  libs/utils/operators/package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore: 🔧 simplify args in settings.json and update .nxignore
  .gemini/settings.json
  .nxignore
Due: none

ci: 👷 🔧 update agents.yml to install Node
  .nx/workflows/agents.yml
Due: none

chore: 🔧 update configuration files and dependencies
  .gemini/settings.json
  .prettierignore
  apps/angular-examples/project.json
  apps/pacetrainer/package.json
  apps/pacetrainer/playwright.config.ts
  apps/pacetrainer/project.json
  apps/rollapolla-analog/package.json
  apps/rollapolla-analog/playwright.config.ts
  apps/rollapolla-analog/project.json
  apps/rollapolla-analog/src/test-setup.ts
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: angular-examples

fix: 🐛 playwright config
  apps/angular-examples/ngsw-config.json
  apps/angular-examples/playwright.config.ts
  apps/angular-examples/src/app/feature/lazy/performance-test/performance-test.component.html
  apps/bacteria-game-remote/playwright.config.ts
  apps/bacteria-game-remote/src/index.html
  apps/bacteria-game-remote/src/styles.scss
  apps/fourier-analysis-remote/playwright.config.ts
  apps/fourier-analysis-remote/src/styles.scss
  package-lock.json
Due: angular-examples, bacteria-game-remote, fourier-analysis-remote

ci: 👷 add nx self healing
  .github/workflows/ci-cd.yml
  .idea/.gitignore
Due: none

chore(deps): update dependency angular-eslint to v20.4.0
  package-lock.json
  package.json
Due: none

fix(shared-data-access): 🐛 removed conflicting export entry
  libs/shared/data-access/package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
