Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

refactor(feat-lazy-fourier-analysis): fix circle buffer leak and dedupe graph hit test
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.layout.ts
Due: feat-lazy-fourier-analysis

fix(angular-examples): keep the bootstrap component out of the exposed folder
  CLAUDE.md
  apps/bacteria-game-remote/src/app/entry.component.ts
  apps/bacteria-game-remote/src/bootstrap.ts
  apps/fourier-analysis-remote/src/app/entry.component.scss
  apps/fourier-analysis-remote/src/app/entry.component.ts
  apps/fourier-analysis-remote/src/bootstrap.ts
  apps/shader-examples-remote/src/app/entry.component.ts
  apps/shader-examples-remote/src/bootstrap.ts
Due: bacteria-game-remote, fourier-analysis-remote

fix(feat-lazy-fourier-analysis): stack circle analysis graph below circle on mobile (#2214)
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.scss
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.scss
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.layout.spec.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.layout.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
Due: feat-lazy-fourier-analysis

fix(feat-lazy-bacteria-game): close the holes the review found
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/game.states.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.html
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.ts
Due: feat-lazy-bacteria-game

feat(feat-lazy-gravity-rocks): center a planet when it is clicked
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): do not center after a drag that returns to its start
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): center a planet when it is clicked (#2217)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): keep following the planet that was clicked
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-bacteria-game): make the colonies actually eat each other (#2216)
  libs/features/lazy/bacteria-game/README.md
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-balance.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/game.states.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.model.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.html
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.ts
Due: feat-lazy-bacteria-game

feat(feat-lazy-gravity-rocks): open a menu on an object to add a satellite or change it
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep the right button out of the drag gestures
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-bacteria-game): steer the crosshairs by touch
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/touch-controls.spec.ts
  libs/features/lazy/bacteria-game/src/lib/touch-controls.ts
Due: feat-lazy-bacteria-game

feat(feat-lazy-bacteria-game): steer the crosshairs by touch (#2219)
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/touch-controls.spec.ts
  libs/features/lazy/bacteria-game/src/lib/touch-controls.ts
Due: feat-lazy-bacteria-game

feat(feat-lazy-gravity-rocks): follow a clicked planet, and an object menu for satellites, mass and speed (#2218)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): allow zooming out to 0.1 percent
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): show one decimal for every zoom below 10%
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): allow zooming out to 0.1 percent (#2220)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-bacteria-game): fullscreen, seven maps and levels, per player growth cap
  apps/bacteria-game-remote/e2e/bacteria-game-remote.spec.ts
  apps/bacteria-game-remote/src/index.html
  libs/features/lazy/bacteria-game/jest.config.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.spec.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-balance.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/game.states.ts
  libs/features/lazy/bacteria-game/src/lib/state/levels.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/levels.ts
  libs/features/lazy/bacteria-game/src/lib/state/maps.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/maps.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.html
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.scss
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.spec.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.ts
Due: bacteria-game-remote, feat-lazy-bacteria-game

fix(feat-lazy-bacteria-game): keep the winner dialog reachable in fullscreen
  apps/angular-examples/src/bootstrap.ts
  apps/bacteria-game-remote/src/app/app.config.ts
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.spec.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.spec.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.ts
Due: angular-examples, bacteria-game-remote, feat-lazy-bacteria-game

feat(feat-lazy-bacteria-game): fullscreen, seven maps and levels, per player growth cap (#2221)
  apps/angular-examples/src/bootstrap.ts
  apps/bacteria-game-remote/e2e/bacteria-game-remote.spec.ts
  apps/bacteria-game-remote/src/app/app.config.ts
  apps/bacteria-game-remote/src/index.html
  libs/features/lazy/bacteria-game/jest.config.ts
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.spec.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.spec.ts
  libs/features/lazy/bacteria-game/src/lib/fullscreen.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-balance.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.query.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/game.states.ts
  libs/features/lazy/bacteria-game/src/lib/state/levels.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/levels.ts
  libs/features/lazy/bacteria-game/src/lib/state/maps.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/maps.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.html
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.scss
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.spec.ts
  libs/features/lazy/bacteria-game/src/lib/winner-info/winner.component.ts
Due: angular-examples, bacteria-game-remote, feat-lazy-bacteria-game

feat(feat-lazy-gravity-rocks): make the world usable with touch
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): throw a dragged object in a paused world
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep a pinch to the two fingers that started it
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore(nx): 🔧 migrate workspace to latest Nx version
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: none

feat(feat-lazy-gravity-rocks): make the world usable with touch (#2222)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore(nx): migrate workspace to latest Nx version (#2223)
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency html-webpack-plugin to v5.6.8
  package-lock.json
  package.json
Due: none

chore(deps): update dependency html-webpack-plugin to v5.6.8 (#2224)
  package-lock.json
  package.json
Due: none

fix(fourier-analysis-remote,shader-examples-remote): add standalone font loading for Material Icons and Roboto
  apps/fourier-analysis-remote/src/index.html
  apps/shader-examples-remote/src/index.html
Due: fourier-analysis-remote

chore(deps): update dependency jest-canvas-mock to v2.5.8
  package-lock.json
  package.json
Due: none

feat(feat-lazy-gravity-rocks): size placed planets by the sun, pick the orbit
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): make the orbit range tell the truth
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): size placed planets by the sun, pick the orbit (#2229)
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/orbit.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore(deps): update dependency jest-canvas-mock to v2.5.8 (#2227)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jsonc-eslint-parser to v2.4.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jsonc-eslint-parser to v2.4.2 (#2230)
  package-lock.json
  package.json
Due: none

feat(feat-lazy-gravity-rocks): let the simulation run slower and faster
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

fix(feat-lazy-gravity-rocks): keep the usual speed to one slice a frame
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
