Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

test: 🚨 remove fakeAsync from LetDirective test case
  libs/ui-kit/src/lib/let/let.directive.spec.ts
Due: ui-kit

fix: 🐛 add missing comma in component metadata
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
Due: ui-kit

test: 🚨 fix some tests for zoneless
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/shared/data-access/src/test-setup.ts
  libs/ui-kit/src/test-setup.ts
Due: feat-lazy-gravity-rocks, ui-kit

feat: ✨ zoneless change detection
  apps/angular-examples/project.json
  apps/angular-examples/src/app/core/service-worker-update.service.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.ts
  apps/angular-examples/src/bootstrap.ts
  apps/angular-examples/src/polyfills.ts
  apps/angular-examples/tsconfig.app.json
  apps/bacteria-game-remote/project.json
  apps/bacteria-game-remote/src/app/app.config.ts
  apps/bacteria-game-remote/src/app/remote-entry/entry.component.ts
  apps/bacteria-game-remote/src/polyfills.ts
  apps/bacteria-game-remote/tsconfig.app.json
  apps/fourier-analysis-remote/project.json
  apps/fourier-analysis-remote/src/app/app.config.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.component.ts
  apps/fourier-analysis-remote/src/polyfills.ts
  apps/fourier-analysis-remote/tsconfig.app.json
  apps/rollapolla-analog/src/app/app.component.ts
  apps/rollapolla-analog/src/app/core/chat-live-stream/messages-list.component.ts
  apps/rollapolla-analog/src/app/pages/(home).page.ts
  apps/rollapolla-analog/src/app/pages/rollapolla-welcome.component.ts
  apps/shader-examples-remote/project.json
  apps/shader-examples-remote/src/app/app.config.ts
  apps/shader-examples-remote/src/app/remote-entry/entry.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/ui-kit/src/lib/elevate-card/elevate-card.directive.spec.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
Due: angular-examples, bacteria-game-remote, feat-lazy-gravity-rocks, fourier-analysis-remote, ui-kit

build: 📦️ update Angular and NX dependencies in package-lock.json
  .gitignore
  .idea/nx-angular-config.xml
  package-lock.json
Due: none

fix: 🐛 update vite to version 7.1.11 in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

fix: 🐛 update appVersion and thanosDemo to use signals for reactive updates
  apps/angular-examples/src/app/app.component.html
  apps/angular-examples/src/app/app.component.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.ts
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/package.json
Due: angular-examples

fix: 🐛 update appVersion and thanosDemo to use signals for reactive updates
  apps/angular-examples/src/app/app.component.ts
Due: angular-examples

chore(deps): update dependency inquirer to v12
  package-lock.json
  package.json
Due: none

Update docs/DEPLOYMENT.md
  docs/DEPLOYMENT.md
Due: none

Update .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: none

docs: 📚️ ✏️ update documentation to improve clarity and formatting
  README.md
  docs/DEPLOYMENT.md
  docs/FUTURE_CDK_INTEGRATION.md
  libs/public/ws-thanos/README.md
Due: none

chore(deps): update dependency vite to v7.1.12
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency aws-cdk-lib to v2.221.0
  package-lock.json
  package.json
Due: none

chore(deps): update actions/setup-node action to v6
  .github/workflows/deploy.yml
Due: none

chore(deps): update dependency node to v22
  .github/workflows/deploy.yml
Due: none

feat: complete karma removal Migrate to Playwright (E2E) and Jest (unit tests) with modern Angular (Zoneless, Signals, @if) (#2095)
  .cursor/mcp.json
  .gemini/settings.json
  .github/copilot-instructions.md
  .junie/guidelines.md
  AGENTS.md
  CHANGELOG.md
  README.md
  apps/ws-thanos-test-app/README.md
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  apps/ws-thanos-test-app/playwright.config.ts
  apps/ws-thanos-test-app/project.json
  apps/ws-thanos-test-app/src/app/app.component.css
  apps/ws-thanos-test-app/src/app/app.component.html
  apps/ws-thanos-test-app/src/app/app.component.ts
  apps/ws-thanos-test-app/src/app/app.config.ts
  apps/ws-thanos-test-app/src/index.html
  apps/ws-thanos-test-app/src/main.ts
  apps/ws-thanos-test-app/src/styles.css
  apps/ws-thanos-test-app/tsconfig.app.json
  apps/ws-thanos-test-app/tsconfig.json
  docs/E2E_TESTING.md
  karma.conf.cjs
  libs/public/spa-cdk-stack/CHANGELOG.md
  libs/public/ws-thanos/CHANGELOG.md
  libs/public/ws-thanos/jest.config.ts
  libs/public/ws-thanos/karma.conf.cjs
  libs/public/ws-thanos/project.json
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/test-setup.ts
  libs/public/ws-thanos/src/test.ts
  libs/public/ws-thanos/tsconfig.spec.json
  nx.json
  package.json
Due: none

fix(ci): resolve project graph error and E2E test failures (#2105)
  .github/copilot-instructions.md
  .github/workflows/ci-cd.yml
  AGENTS.md
  apps/angular-examples/src/main.ts
  apps/ws-thanos-test-app/playwright.config.ts
Due: angular-examples

chore(deps): update actions/setup-node action to v6 (#2103)
  .github/workflows/deploy.yml
Due: none

fix(deps): update dependency mermaid to v11.12.1
  package-lock.json
  package.json
Due: none

fix(deps): update trpc monorepo to v11.7.1
  package-lock.json
  package.json
Due: none

fix(deps): update font awesome to v7
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
