Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

ci: 👷 agent should checkout deeper to fetch tags appropriate
  .nx/workflows/agents.yml
  nx.json
  tools/version-handling/version-webpack.config.js
Due: none

ci: 👷 agent fetch tags appropriate
  .nx/workflows/agents.yml
  apps/angular-examples/src/environments/version.ts
  tools/version-handling/version-webpack.config.js
Due: angular-examples

ci: 👷 agent fetch tags and branches
  .nx/workflows/agents.yml
Due: none

ci: 👷 fix version plugin
  tools/version-handling/version-webpack.config.js
Due: none

ci: 👷 fix version plugin
  apps/angular-examples/src/environments/version.ts
  nx.json
  tools/version-handling/latest-version-tag.js
  tools/version-handling/version-webpack.config.js
Due: angular-examples

ci: 👷 make sure it is a string
  .nx/workflows/agents.yml
Due: none

ci: 👷 try the other way around
  .nx/workflows/agents.yml
Due: none

chore: 🔧 fix overriding of function
  tools/version-handling/version-webpack.config.js
Due: none

ci: 👷 try to set checkout depth on a higher level
  .nx/workflows/agents.yml
Due: none

chore: 🔧 version handling ready
  apps/angular-examples/project.json
  apps/angular-examples/webpack.config.js
  apps/angular-examples/webpack.config.ts
  nx.json
  tools/version-handling/latest-version-tag.js
  tools/version-handling/version-webpack.config.js
  tools/version-handling/version-webpack.config.ts
Due: angular-examples

chore: 🔧 checkout last 500 commits and tags
  .nx/workflows/agents.yml
Due: none

ci: 👷 use version 3.3
  .nx/workflows/agents.yml
Due: none

test: 🚨 fix version test
  apps/angular-examples/jest.config.ts
Due: angular-examples

chore: 🔧 fix output path
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/main.ts
Due: bacteria-game-remote, fourier-analysis-remote

chore: 🔧 fix path
  apps/shader-examples-remote-cdk/src/main.ts
Due: none

chore: 🔧 fix depends on configuration
  apps/angular-examples-cdk/project.json
  apps/angular-examples/project.json
  apps/bacteria-game-remote-cdk/project.json
  apps/fourier-analysis-remote-cdk/project.json
  apps/shader-examples-remote-cdk/project.json
Due: angular-examples, bacteria-game-remote, fourier-analysis-remote

chore: 🔧 fix inputs for angular-examples
  apps/angular-examples/project.json
Due: angular-examples

fix: 🐛 add remotes to implicit deps
  apps/angular-examples/project.json
Due: angular-examples

chore(deps): :arrow_up: update dependency aws-sdk to v2.1566.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency @sentry/angular-ivy to ^7.103.0
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

chore(deps): :arrow_up: update dependency @commitlint/cli to ^19.0.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @playwright/test to ^1.42.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1567.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to ^20.11.21
  package-lock.json
  package.json
Due: none

fix: 🐛 working remote config
  .idea/nx-angular-config.xml
  apps/angular-examples/module-federation.config.ts
  apps/angular-examples/module-federation.prod.config.ts
  apps/angular-examples/project.json
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/webpack.prod.config.ts
  apps/fourier-analysis-remote/module-federation.config.js
  apps/fourier-analysis-remote/src/app/app.component.ts
  apps/fourier-analysis-remote/src/app/app.config.ts
  apps/fourier-analysis-remote/src/app/app.module.ts
  apps/fourier-analysis-remote/src/app/app.routes.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.component.scss
  apps/fourier-analysis-remote/src/app/remote-entry/entry.component.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.module.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.routes.ts
  apps/fourier-analysis-remote/src/bootstrap.ts
  apps/fourier-analysis-remote/src/index.html
  package-lock.json
  package.json
  tsconfig.base.json
Due: angular-examples, fourier-analysis-remote

ci: 👷 add dynmaic agent allocation
  .github/workflows/ci-cd.yml
  .nx/workflows/dynamic-changesets.yml
  package-lock.json
Due: none

ci: 👷 minimum of 3 agents are needed by nx
  .nx/workflows/dynamic-changesets.yml
Due: none

build: 📦️ use head commit hash as version as fallback
  tools/version-handling/latest-version-tag.js
Due: none

feat(spa-cdk-stack): ✨ add function to upload extra assets
  libs/public/spa-cdk-stack/extra-assets-path/asset.json
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
  libs/public/spa-cdk-stack/src/lib/stack-spa.spec.ts
Due: none

ci: 👷 only release when changed
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/trigger-release.yml
Due: none

ci: 👷 only release when changed
  .github/workflows/ci-cd.yml
Due: none

ci: 👷 use steps output
  .github/workflows/ci-cd.yml
Due: none
