Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

chore(deps): :arrow_up: update dependency eslint to v9
  package-lock.json
  package.json
Due: none

chore: 🔧 📦️ nx migrate to 18.3.4
  package-lock.json
  package.json
Due: none

feat: ✨ add caching for assets
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
  libs/public/spa-cdk-stack/src/lib/stack-spa.spec.ts
  libs/public/spa-cdk-stack/test-build-path/test-javascript-asset.js
Due: none

ci: 👷 set caching for version.json to no-cache
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
Due: angular-examples

test: 🚨 fix linting
  apps/angular-examples/webpack.prod.config.ts
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
  libs/public/spa-cdk-stack/src/lib/stack-spa.spec.ts
  libs/public/spa-cdk-stack/test-build-path/index.html
  package-lock.json
  package.json
Due: angular-examples

ci: 👷 don't ignore index.html
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

feat: ✨ don't delete other assets for index and extra deployments
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

feat: ✨ try setting different cache header for index and other assets
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

ci: 👷 use optional deps for binaries
  .github/actions/install-deps/action.yml
  package-lock.json
  package.json
Due: none

ci: 👷 update package-lock.json
  package-lock.json
Due: none

ci: 👷 remove overrides
  package.json
Due: none

test: 🚨 update snapshots
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
Due: none

ci: 👷 never ignore install scripts
  .github/actions/install-deps/action.yml
Due: none

ci: 👷 install xi package
  .github/actions/install-deps/install-ubuntu-packages.sh
Due: none

Revert "ci: 👷 install xi package"
  .github/actions/install-deps/install-ubuntu-packages.sh
Due: none

Revert "ci: 👷 remove overrides"
  package.json
Due: none

Revert "ci: 👷 never ignore install scripts"
  .github/actions/install-deps/action.yml
Due: none

Revert "ci: 👷 update package-lock.json"
  package-lock.json
Due: none

Revert "ci: 👷 use optional deps for binaries"
  .github/actions/install-deps/action.yml
  package-lock.json
  package.json
Due: none

perf: ⚡️ massive speedup by optimizing getNeighbours
  apps/angular-examples/src/app/feature/lazy/poisson/domain/poisson-calc.service.ts
Due: angular-examples

feat: ✨ extract poisson into lazy lib
  .idea/nx-angular-config.xml
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/poisson/feature/canvas-view/canvas-view.component.html
  apps/angular-examples/src/app/feature/lazy/poisson/feature/sim-controls/sim-controls.component.html
  libs/features/lazy/feat-lazy-poisson/.eslintrc.json
  libs/features/lazy/feat-lazy-poisson/README.md
  libs/features/lazy/feat-lazy-poisson/jest.config.ts
  libs/features/lazy/feat-lazy-poisson/ng-package.json
  libs/features/lazy/feat-lazy-poisson/package.json
  libs/features/lazy/feat-lazy-poisson/project.json
  libs/features/lazy/feat-lazy-poisson/src/index.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/api/routes.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/model/circle.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/model/line.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/model/poisson.config.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/model/vector.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/poisson-calc.service.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/poisson-config.service.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/shape-factory.service.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/canvas-view/canvas-draw.service.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/canvas-view/canvas-view.component.css
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/canvas-view/canvas-view.component.html
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/canvas-view/canvas-view.component.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/poisson-page/poisson.component.html
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/poisson-page/poisson.component.scss
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/poisson-page/poisson.component.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/sim-controls/sim-controls.component.css
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/sim-controls/sim-controls.component.html
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/sim-controls/sim-controls.component.ts
  libs/features/lazy/feat-lazy-poisson/src/test-setup.ts
  libs/features/lazy/feat-lazy-poisson/tsconfig.json
  libs/features/lazy/feat-lazy-poisson/tsconfig.lib.json
  libs/features/lazy/feat-lazy-poisson/tsconfig.lib.prod.json
  libs/features/lazy/feat-lazy-poisson/tsconfig.spec.json
  libs/utils/math/src/index.ts
  libs/utils/math/src/lib/random.service.ts
  nx.json
  tsconfig.base.json
Due: angular-examples

feat(feat-lazy-poisson): ✨ add step control
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/domain/poisson-calc.service.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/poisson-page/poisson.component.html
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/poisson-page/poisson.component.ts
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/sim-controls/sim-controls.component.html
  libs/features/lazy/feat-lazy-poisson/src/lib/feat-lazy-poisson/feature/sim-controls/sim-controls.component.ts
Due: none

refactor(angular-examples): ♻️ remove module
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/neural-network/neural-network-routes.ts
  apps/angular-examples/src/app/feature/lazy/neural-network/neural-network.module.ts
Due: angular-examples

fix(feat-lazy-poisson): 🐛 fix lib folders
  .idea/nx-angular-config.xml
  libs/features/lazy/poisson/jest.config.ts
  libs/features/lazy/poisson/ng-package.json
  libs/features/lazy/poisson/project.json
  libs/features/lazy/poisson/src/index.ts
  libs/features/lazy/poisson/src/lib/poisson/api/routes.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/model/circle.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/model/line.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/model/poisson.config.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/model/vector.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/poisson-calc.service.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/poisson-config.service.ts
  libs/features/lazy/poisson/src/lib/poisson/domain/shape-factory.service.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-draw.service.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-view.component.css
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-view.component.html
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-view.component.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.html
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.scss
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/sim-controls/sim-controls.component.css
  libs/features/lazy/poisson/src/lib/poisson/feature/sim-controls/sim-controls.component.html
  libs/features/lazy/poisson/src/lib/poisson/feature/sim-controls/sim-controls.component.ts
Due: none

perf(feat-lazy-poisson): ⚡️ use offscreen canvas
  libs/features/lazy/poisson/src/lib/poisson/domain/model/circle.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-draw.service.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-view.component.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.html
Due: none

feat(feat-lazy-poisson): ✨ add debug infos and fps
  libs/features/lazy/poisson/src/lib/poisson/domain/poisson-calc.service.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/canvas-view/canvas-view.component.ts
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.html
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.scss
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.ts
Due: none

refactor(feat-lazy-poisson): ♻️ styling, use signals
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.html
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.scss
  libs/features/lazy/poisson/src/lib/poisson/feature/poisson-page/poisson.component.ts
Due: none

fix(angular-examples): 🐛 bacteria-game not working
  apps/angular-examples/src/app/app-routing.ts
Due: angular-examples

fix(angular-examples): 🐛 add version to deps for build
  apps/angular-examples/project.json
  apps/angular-examples/src/environments/version.ts
  tools/version-handling/latest-version-tag.js
Due: angular-examples

fix(angular-examples): 🐛 add version.json to bucket
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
  apps/angular-examples/src/app/app.component.ts
Due: angular-examples

test(angular-examples): 🚨 use version.json
  apps/angular-examples/src/app/app.component.spec.ts
  apps/angular-examples/src/app/app.component.ts
  apps/angular-examples/src/app/feature/navigation/side-nav/side-nav.component.spec.ts
Due: angular-examples

test(rollapolla): 🚨 remove deprecated RouterTestingModule
  apps/rollapolla/src/app/app.component.spec.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/tensorflow-examples.component.cy.ts
Due: feat-lazy-tf-examples

fix(deps): :arrow_up: update all non-major dependencies
  libs/public/spa-cdk-stack/package.json
  package-lock.json
  package.json
Due: none

test(spa-cdk-stack): 🚨 update snapshots
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
Due: none
