Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

chore(deps): update dependency rollup to v4.27.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @eslint/eslintrc to v3.2.0
  package-lock.json
Due: none

chore(deps): update nx monorepo to v20.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-preset-env to v10.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @module-federation/enhanced to v0.7.5
  package-lock.json
Due: none

fix(deps): update dependency marked to v15.0.1
  package-lock.json
Due: none

chore(deps): update dependency jest-preset-angular to v14.3.1
  package-lock.json
  package.json
Due: none

feat: ✨ move HeadlineAnimationService into shared lib
  .idea/nx-angular-config.xml
  apps/angular-examples/src/app/core/headline-animation.service.ts
  apps/angular-examples/src/app/core/stop-headline-animation-when-not-visible.ts
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.ts
  eslint.config.js
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-generator.service.ts
  libs/shared/headline-animation/README.md
  libs/shared/headline-animation/eslint.config.js
  libs/shared/headline-animation/jest.config.ts
  libs/shared/headline-animation/ng-package.json
  libs/shared/headline-animation/package.json
  libs/shared/headline-animation/project.json
  libs/shared/headline-animation/src/index.ts
  libs/shared/headline-animation/src/lib/headline-animation/headline-animation.service.ts
  libs/shared/headline-animation/src/test-setup.ts
  libs/shared/headline-animation/tsconfig.json
  libs/shared/headline-animation/tsconfig.lib.json
  libs/shared/headline-animation/tsconfig.lib.prod.json
  libs/shared/headline-animation/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: angular-examples, feat-lazy-tf-examples

feat(feat-lazy-tf-examples): ✨ Only one graph to show all data
  apps/angular-examples/src/app/core/stop-headline-animation-when-not-visible.ts
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.cy.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.service.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-generator.service.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.component.scss
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.service.ts
Due: angular-examples, feat-lazy-tf-examples

feat(feat-lazy-tf-examples): ✨ add missing peer deps
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/polynomial-regression.component.ts
Due: feat-lazy-tf-examples

feat(angular-examples): ✨ rename title
  apps/angular-examples/e2e/home.spec.ts
  apps/angular-examples/project.json
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
  apps/shader-examples-remote/project.json
Due: angular-examples

test(angular-examples): 🚨 remove webkit as test browser because strange error
  apps/angular-examples/playwright.config.ts
Due: angular-examples

chore(deps): update dependency husky to v9.1.7
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v8.15.0
  package-lock.json
  package.json
Due: none

feat(feat-lazy-tf-examples): ✨ change order of mnist results. Use signals
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.html
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.less
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.scss
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.less
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.scss
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-predictions/draw-predictions.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits-model.service.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.html
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.scss
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.ts
  libs/shared/headline-animation/src/lib/headline-animation/headline-animation.service.ts
Due: feat-lazy-react-diff, feat-lazy-tf-examples

feat(angular-examples): ✨ simplify headline animation calls
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.ts
Due: angular-examples

build(feat-lazy-react-diff): 📦️ fix peer deps after linting error
  libs/features/lazy/reaction-diffusion/package.json
Due: feat-lazy-react-diff

ci: 👷 print debug info and invalidate cache if workflows changes
  .nx/workflows/agents.yml
  nx.json
Due: none

build: 📦️ fix libaries deps
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/reaction-diffusion-kernels/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/ui-kit/package.json
  libs/utils/decorators/package.json
  libs/utils/gpu-calc/package.json
  libs/utils/measure-fps/package.json
  libs/utils/operators/package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

build: 📦️ fix base-branch to base_branch for agents
  .nx/workflows/agents.yml
Due: none

build: 📦️ fix package.jsons for libs to not use dependencies
  libs/features/reaction-diffusion-kernels/package.json
  libs/utils/decorators/package.json
  libs/utils/operators/package.json
Due: utils-decorators, utils-operators

build: 📦️ add npm global cache to agents cache
  .nx/workflows/agents.yml
Due: none

build: 📦️ fix package.jsons for libs to not use dependencies
  libs/utils/measure-fps/package.json
Due: utils-measure-fps

build: 📦️ fix agents npm cache by using different key
  .nx/workflows/agents.yml
Due: none

chore(deps): update dependency rollup to v4.27.3
  package-lock.json
  package.json
Due: none

chore(deps): update eslint monorepo to ~9.15.0
  package-lock.json
  package.json
Due: none

ci: 👷 change automerge strategy to auto
  .github/renovate.json
Due: none

ci: 👷 renovate only rebase branches when conflicting
  .github/renovate.json
Due: none

test: 🚨 update to storybook/test
  libs/features/lazy/gravity-rocks/.storybook/main.ts
  libs/features/lazy/gravity-rocks/.storybook/preview.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  package-lock.json
  package.json
Due: feat-lazy-gravity-rocks

ci: 👷 install node modules manually
  .nx/workflows/agents.yml
Due: none
