Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

fix(deps): :arrow_up: update all non-major dependencies
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: none

fix(deps): :arrow_up: update dependency aws-cdk to ^2.103.1
  package.json
Due: none

build: 📦️ update package.lock
  package-lock.json
Due: none

chore: 🔧 remove nx-squeezer
  .idea/prettier.xml
  libs/test-helper/.eslintrc.json
  libs/test-helper/README.md
  libs/test-helper/jest.config.ts
  libs/test-helper/package.json
  libs/test-helper/project.json
  libs/test-helper/src/index.ts
  libs/test-helper/src/lib/qa-selector.spec.ts
  libs/test-helper/src/lib/qa-selector.ts
  libs/test-helper/tsconfig.json
  libs/test-helper/tsconfig.lib.json
  libs/test-helper/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

feat(feat-lazy-gravity-rocks): ✨ improve start situation for gravity
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): ✨ move field under dependent field
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

style: 🎨 added linebreak in constructors
  apps/angular-examples/src/app/core/title.service.ts
  apps/angular-examples/src/app/feature/lazy/info/about/about.component.ts
  apps/angular-examples/src/app/feature/lazy/info/technology.ts
  apps/angular-examples/src/app/feature/lazy/neural-network/shared/train-data.ts
  apps/angular-examples/src/app/feature/lazy/poisson/domain/model/circle.ts
  apps/angular-examples/src/app/feature/lazy/poisson/domain/model/line.ts
  apps/angular-examples/src/app/feature/lazy/poisson/domain/model/vector.ts
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.ts
  apps/angular-examples/src/app/feature/main-toolbar/service-worker-update/service-worker-update.component.ts
  apps/rollapolla-cdk/src/stacks/static-site/spa.site.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-options/wave-options.component.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/time-interval.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/vector-2d.ts
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/p5-view/p5-view.component.ts
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.ts
  libs/features/lazy/shader-examples/src/lib/state/shader-code.service.ts
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/learned-digits.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.ts
  libs/features/reaction-diffusion-kernels/src/lib/kernel.definition.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
  libs/ui-kit/src/lib/elevate-card/elevate-card.directive.ts
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
  libs/utils/gpu-calc/src/lib/gpu-adapter.service.ts
  libs/utils/measure-fps/src/lib/measure-fps.ts
Due: angular-examples, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, ui-kit, utils-gpu-calc, utils-measure-fps

feat(feat-lazy-gravity-rocks): ✨ complete rework.
  apps/angular-examples/src/environments/version.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/vector-2d.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/world-object.ts
Due: angular-examples, feat-lazy-gravity-rocks

refactor(feat-lazy-gravity-rocks): ♻️ fix style issues and error handling
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.spec.ts
Due: feat-lazy-gravity-rocks

test(feat-lazy-gravity-rocks-e2e): 🚨 fix button selectors
  .eslintrc.json
  apps/feat-lazy-gravity-rocks-e2e/project.json
  apps/feat-lazy-gravity-rocks-e2e/src/e2e/gravity-rocks/gravity-rocks.component.cy.ts
Due: none

feat(feat-lazy-gravity-rocks): ✨ add multiple planets
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/time-interval.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/world-object.ts
  libs/utils/math/.eslintrc.json
  libs/utils/math/README.md
  libs/utils/math/jest.config.ts
  libs/utils/math/package.json
  libs/utils/math/project.json
  libs/utils/math/src/index.ts
  libs/utils/math/src/lib/uuid.spec.ts
  libs/utils/math/src/lib/uuid.ts
  libs/utils/math/src/lib/vector-2d.ts
  libs/utils/math/tsconfig.json
  libs/utils/math/tsconfig.lib.json
  libs/utils/math/tsconfig.spec.json
  libs/utils/operators/src/index.ts
  libs/utils/operators/src/lib/not-null.ts
  libs/utils/operators/src/lib/not.nil.ts
  libs/utils/operators/src/lib/rx/filter-not-null.op.ts
  tsconfig.base.json
Due: feat-lazy-gravity-rocks, utils-operators

feat(feat-lazy-gravity-rocks): ✨ update suns mass
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): ✨ add velocity force arrows
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/toSvgPath.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): ✨ new scaling
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/world-objects/world-object.ts
Due: feat-lazy-gravity-rocks

test(rollapolla-cdk): 🚨 change test index.html
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
  apps/rollapolla-cdk/test-build-path/index.html
Due: none

test(rollapolla-cdk): 🚨 try to fix hash mismatch between local and ci
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
  apps/rollapolla-cdk/src/main.spec.ts
Due: none

build: 📦️ migrate to nx 17.0.3
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

build: 📦️ migrate to angular 17.0.0
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  package-lock.json
  package.json
Due: angular-examples

build: 📦️ migrate to angular 17.0.0 test: linting and tests fixed
  apps/angular-examples/project.json
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.scss
  apps/bacteria-game-remote/project.json
  apps/fourier-analysis-remote/project.json
  apps/rollapolla-cdk/project.json
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
  apps/rollapolla/project.json
  libs/features/api/auth/project.json
  libs/features/lazy/bacteria-game/project.json
  libs/features/lazy/fourier-analysis/project.json
  libs/features/lazy/gravity-rocks/project.json
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.service.ts
  libs/features/lazy/reaction-diffusion/project.json
  libs/features/lazy/shader-examples/project.json
  libs/features/lazy/shader-examples/src/lib/shader-examples-routing.module.ts
  libs/features/lazy/some-gpu-calculation/project.json
  libs/features/lazy/tensorflow-examples/cypress/support/commands.ts
  libs/features/lazy/tensorflow-examples/project.json
  libs/features/lazy/wasm-test/project.json
  libs/fib-wasm-api/project.json
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/test.ts
  libs/test-helper/project.json
  libs/ui-kit/project.json
  libs/utils/decorators/project.json
  libs/utils/gpu-calc/project.json
  libs/utils/math/project.json
  libs/utils/measure-fps/project.json
  libs/utils/operators/project.json
  nx.json
  package-lock.json
  package.json
Due: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

feat: ✨ move config form into component
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/planet.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/sun.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat: ✨ move config to sidebar
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat: ✨ only show planet list when config is open
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
Due: feat-lazy-gravity-rocks

refactor: ♻️ use control flow for angular-examples app
  apps/angular-examples/src/app/feature/lazy/info/about/about.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/neural-network/multi-perceptron/multi-perceptron.component.html
  apps/angular-examples/src/app/feature/lazy/neural-network/neural-network.component.html
  apps/angular-examples/src/app/feature/lazy/neural-network/perceptron-tab/perceptron-tab.component.html
  apps/angular-examples/src/app/feature/lazy/performance-test/performance-test.component.html
  apps/angular-examples/src/app/feature/lazy/poisson/feature/sim-controls/sim-controls.component.html
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.html
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
  apps/angular-examples/src/app/feature/main-toolbar/service-worker-update/service-worker-update.component.html
  apps/angular-examples/src/app/feature/navigation/side-nav/side-nav.component.html
  apps/angular-examples/src/app/shared/nav-item/nav-item.component.html
Due: angular-examples

fix(feat-lazy-gravity-rocks): 🐛 form used before initialization
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
Due: feat-lazy-gravity-rocks
