Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

build: 📦️ configured test-integration nx target
  nx.json
Due: none

chore(deps): :arrow_up: update dependency @cypress/webpack-dev-server to ^3.7.1
  package-lock.json
  package.json
Due: none

feat: ✨ make it easy to load shader files with webpack
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.ts
  apps/angular-examples/src/app/title-shader.glsl
  apps/angular-examples/tsconfig.app.json
  apps/angular-examples/webpack.config.js
  libs/ui-kit/glsl-webpack.config.ts
  libs/ui-kit/project.json
  libs/ui-kit/tsconfig.integrationspec.json
  libs/ui-kit/tsconfig.lib.json
  libs/ui-kit/tsconfig.spec.json
  tools/glsl/glsl-modules.d.ts
  tools/glsl/with-glsl-loader.js
Due: angular-examples, ui-kit

build: 📦️ found customWebpack karma runner
  apps/angular-examples/src/app/title-shader.ts
  libs/ui-kit/glsl-webpack.config.ts
  libs/ui-kit/karma.conf.js
  libs/ui-kit/project.json
  libs/ui-kit/src/lib/render-shader-2/default-fragment-shader.glsl
  libs/ui-kit/src/lib/render-shader-2/default-vertex-shader.glsl
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader.service.ts
  package-lock.json
  package.json
Due: angular-examples, ui-kit

chore: 🔧 test remove texture shaders from ws-gl
  libs/shared/ws-gl/src/index.ts
  libs/shared/ws-gl/src/lib/model/glsl-helper/create-program.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader.service.ts
  libs/ui-kit/src/lib/render-shader-2/texture-vertex-shader.glsl.ts
  libs/ui-kit/src/lib/render-shader-2/vaporizing-fragment-shader.glsl.ts
Due: ui-kit

build: 📦️ use different bundler for lib
  libs/shared/ws-gl/package.json
  libs/shared/ws-gl/project.json
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
Due: ui-kit

fix(deps): :arrow_up: update dependency @assemblyscript/loader to v0.27.22
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency @sentry/angular-ivy to ^7.82.0
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

perf(feat-lazy-gravity-rocks): ⚡️ use trackBy Ids
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/force.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-path.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

chore: 🔧 remove strange local registry
  package-lock.json
  package.json
  project.json
Due: none

feat(feat-lazy-gravity-rocks): ✨ change mode of config to over
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
Due: feat-lazy-gravity-rocks

feat(feat-lazy-gravity-rocks): ✨ put buttons start reset at top
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
Due: feat-lazy-gravity-rocks

build: 📦️ refreshed package.lock
  package-lock.json
Due: none

test(feat-lazy-gravity-rocks): 🚨 fixed
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
Due: feat-lazy-gravity-rocks

refactor(angular-examples): ♻️ load sentry by module
  apps/angular-examples/src/app/core/core.module.ts
  apps/angular-examples/src/bootstrap.ts
Due: angular-examples

fix: 🐛 load canvas in any case
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.html
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.ts
Due: feat-lazy-some-gpu-calculation

style: 🎨 use double quotes for html
  .prettierrc.json
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  package.json
Due: feat-lazy-gravity-rocks

chore: 🔧 remove verdaccio config
  .verdaccio/config.yml
Due: none

ci: 👷 no need to wait for test to release
  .github/workflows/release.yml
Due: none

build: 📦️ add nx devkit
  package-lock.json
  package.json
Due: none

chore: 🔧 apply prettier code style
  .idea/codeStyles/Project.xml
Due: none

ci: 👷 add verbose output if in debug mode
  .github/workflows/ci.yml
Due: none

ci: 👷 use RUNNER_DEBUG env instead
  .github/workflows/ci.yml
Due: none

ci: 👷 fix add verbose flag
  .github/workflows/ci.yml
Due: none

build: 📦️ refresh package.lock
  package-lock.json
Due: none

test: 🚨 update snapshot
  apps/rollapolla-cdk/src/__snapshots__/main.spec.ts.snap
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1508.0
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
