Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

ci(spa-cdk-stack): 👷 handle subdomain
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1565.0
  package-lock.json
  package.json
Due: none

ci(spa-cdk-stack): 👷 fix subdomain certificate only if subdomain is given
  apps/angular-examples-cdk/src/main.ts
  apps/angular-examples-cdk/src/stacks/spa.stack.ts
  apps/rollapolla-cdk/src/main.ts
  apps/rollapolla-cdk/src/stacks/spa.stack.ts
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
  libs/public/spa-cdk-stack/src/lib/stack-spa.spec.ts
Due: angular-examples

chore: 🔧 update package-lock.json
  package-lock.json
Due: none

chore: 🔧 add tags to stacks
  apps/angular-examples-cdk/src/main.ts
  apps/rollapolla-cdk/src/main.ts
  libs/public/spa-cdk-stack/src/index.ts
  libs/public/spa-cdk-stack/src/lib/utils/envOrDie.ts
Due: angular-examples

ci: 👷 remove parallel arg
  .github/workflows/ci-cd.yml
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.57.0
  package-lock.json
  package.json
Due: none

ci: 👷 switch to dns verification for certificate
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

chore: 🔧 make prepare prod cacheable
  nx.json
Due: none

chore: 🔧 Add subject alternate Names for subdomain certificate
  .github/workflows/ci-old.yml
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

chore: 🔧 use correct certificate domains
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

refactor: ♻️ refactor a little
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

refactor: ♻️ use concrete site domain for alternante names
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

chore(deps): :arrow_up: update commitlint monorepo to v19
  package-lock.json
  package.json
Due: none

chore: 🔧 adding release config related stuff
  .eslintrc.json
  apps/angular-examples-cdk/project.json
  apps/rollapolla-cdk/project.json
  libs/public/spa-cdk-stack/project.json
  nx.json
Due: angular-examples

chore(release): 🚀 add release to allowed scopes
  commitlint.config.js
Due: none

chore(release): 🚀 cleanup old publish code
  libs/public/spa-cdk-stack/project.json
  libs/public/ws-thanos/project.json
  libs/shared/ws-gl/project.json
  tools/scripts/publish.mjs
Due: none

chore(release): 🚀 publish
  libs/public/spa-cdk-stack/CHANGELOG.md
  libs/public/spa-cdk-stack/package.json
  libs/public/ws-thanos/CHANGELOG.md
  libs/public/ws-thanos/package.json
  package-lock.json
Due: none

chore(deps): :arrow_up: update dependency karma to v6.4.3
  package-lock.json
  package.json
Due: none

ci(release): 👷 🚀 fix issue creation code
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

chore(deps): :arrow_up: update actions/github-script action to v7
  .github/workflows/release.yml
Due: none

build: 📦️ update package-lock.json
  package-lock.json
Due: none

chore: 🔧 switch to typescript for commitlint config
  commitlint.config.js
  commitlint.config.ts
Due: none

feat: ✨ create cdks for federated modules
  apps/angular-examples/module-federation.config.js
  apps/angular-examples/module-federation.prod.config.js
  apps/angular-examples/project.json
  apps/bacteria-game-remote-cdk/.eslintrc.json
  apps/bacteria-game-remote-cdk/cdk.json
  apps/bacteria-game-remote-cdk/jest.config.ts
  apps/bacteria-game-remote-cdk/project.json
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/bacteria-game-remote-cdk/src/stacks/spa.stack.ts
  apps/bacteria-game-remote-cdk/tsconfig.app.json
  apps/bacteria-game-remote-cdk/tsconfig.json
  apps/bacteria-game-remote-cdk/tsconfig.spec.json
  apps/bacteria-game-remote/module-federation.config.js
  apps/fourier-analysis-remote-cdk/.eslintrc.json
  apps/fourier-analysis-remote-cdk/cdk.json
  apps/fourier-analysis-remote-cdk/jest.config.ts
  apps/fourier-analysis-remote-cdk/project.json
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/fourier-analysis-remote-cdk/src/stacks/spa.stack.ts
  apps/fourier-analysis-remote-cdk/tsconfig.app.json
  apps/fourier-analysis-remote-cdk/tsconfig.json
  apps/fourier-analysis-remote-cdk/tsconfig.spec.json
  apps/shader-examples-remote-cdk/.eslintrc.json
  apps/shader-examples-remote-cdk/cdk.json
  apps/shader-examples-remote-cdk/jest.config.ts
  apps/shader-examples-remote-cdk/project.json
  apps/shader-examples-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/stacks/spa.stack.ts
  apps/shader-examples-remote-cdk/tsconfig.app.json
  apps/shader-examples-remote-cdk/tsconfig.json
  apps/shader-examples-remote-cdk/tsconfig.spec.json
Due: angular-examples, bacteria-game-remote, fourier-analysis-remote

feat: ✨ align urls for remotes
  apps/angular-examples/module-federation.prod.config.js
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/main.ts
Due: angular-examples, bacteria-game-remote, fourier-analysis-remote

chore: 🔧 file replacement path
  apps/angular-examples/project.json
Due: angular-examples

ci: 👷 build all deployable apps
  .github/workflows/release.yml
Due: none

chore: 🔧 make angular-examples dependent on the git version tag
  .github/workflows/release.yml
  apps/angular-examples/project.json
  tools/version-handling/version-webpack.config.js
Due: angular-examples

chore: 🔧 add coding assistence for node
  .idea/jsLibraryMappings.xml
Due: none

chore: 🔧 make angular-examples dependent on the git version tag
  apps/angular-examples/project.json
  nx.json
  tools/node-scripts/prepare-mf-build.js
  tools/version-handling/version-webpack.config.js
Due: angular-examples

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
