Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix(ws-thanos): 🐛 limit the CPU fallback, the GPU contexts and the snap volume
  libs/public/ws-thanos/src/lib/choose-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.spec.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

feat(ws-thanos): add snap sound, GPU rendering and crumble variants (#2420)
  apps/angular-examples/src/bootstrap.ts
  apps/ws-thanos-test-app/e2e/ws-thanos.spec.ts
  apps/ws-thanos-test-app/src/app/app.component.css
  apps/ws-thanos-test-app/src/app/app.component.html
  apps/ws-thanos-test-app/src/app/app.component.ts
  apps/ws-thanos-test-app/src/app/app.config.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/canvas-particle-renderer.ts
  libs/public/ws-thanos/src/lib/capture-scale.spec.ts
  libs/public/ws-thanos/src/lib/capture-scale.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.spec.ts
  libs/public/ws-thanos/src/lib/choose-particle-renderer.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.ts
  libs/public/ws-thanos/src/lib/crumble-shape.spec.ts
  libs/public/ws-thanos/src/lib/crumble-shape.ts
  libs/public/ws-thanos/src/lib/particle-renderer.ts
  libs/public/ws-thanos/src/lib/particles.spec.ts
  libs/public/ws-thanos/src/lib/particles.ts
  libs/public/ws-thanos/src/lib/snap-sound-envelopes.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound-envelopes.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.spec.ts
  libs/public/ws-thanos/src/lib/snap-sound.service.ts
  libs/public/ws-thanos/src/lib/vaporizing-front.ts
  libs/public/ws-thanos/src/lib/webgl/simplex-noise.glsl.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-particle-renderer.ts
  libs/public/ws-thanos/src/lib/webgl/webgl-shaders.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/src/lib/ws-thanos.options.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: angular-examples

feat(ws-thanos): ✨ raise the default particle count to 3M
  apps/angular-examples/src/bootstrap.ts
  apps/ws-thanos-test-app/src/app/app.component.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.ts
Due: angular-examples

feat(ws-thanos): raise the default particle count to 3M (#2421)
  apps/angular-examples/src/bootstrap.ts
  apps/ws-thanos-test-app/src/app/app.component.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.spec.ts
  libs/public/ws-thanos/src/lib/create-ws-thanos-options.ts
Due: angular-examples

fix(deps): 🐛 patch npm audit critical proxy-addr vulnerability
  package-lock.json
Due: none

fix(deps): 🐛 narrow proxy-addr audit fix to a targeted override
  package-lock.json
  package.json
Due: none

chore(deps): 🔗 approve @swc/core install script and apply npm audit fix
  package-lock.json
  package.json
Due: none

fix(deps): 🐛 patch npm audit critical shell-quote vulnerability
  package-lock.json
  package.json
Due: none

docs(tools): 📚️ add agent skill config for issue tracker, triage labels and domain docs
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

docs(tools): 📚️ add agent skill config for issue tracker, triage labels and domain docs (#2426)
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

fix(deps): update nx monorepo
  .gitignore
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
  tools/ai-migrations/@nx/vitest/23.3.0/ai-instructions-for-vitest-5.md
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

fix(deps): update nx monorepo (#2427)
  .gitignore
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/features/lazy/web-gl/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
  tools/ai-migrations/@nx/vitest/23.3.0/ai-instructions-for-vitest-5.md
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

fix(deps): 🐛 pin handlebars to patched version via override
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @angular/fire to v20.1.1
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: feat-api-auth

fix(deps): update all non-major dependencies
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package.json
Due: none

fix(deps): update dependency @angular/fire to v20.1.1 (#2430)
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: feat-api-auth

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
