Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore(deps): :arrow_up: update dependency jest-preset-angular to v14.1.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency ace-builds to v1.33.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency axios to v1.7.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency lint-staged to v15.2.4
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @eslint/eslintrc to v3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency cypress to ^13.10.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/three to v0.164.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v18
  .idea/nx-angular-config.xml
  apps/angular-examples/src/app/shared/nav-item/_nav-item.scss
  apps/angular-examples/src/styles/_ws-material-theme.scss
  apps/rollapolla-analog/src/styles.scss
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/poisson/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/shared/data-access/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
  package-lock.json
  package.json
Due: angular-examples, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

chore: 🔧 format files
  apps/angular-examples/src/app/shared/nav-item/_nav-item.scss
  apps/angular-examples/src/styles/_ws-material-theme.scss
Due: angular-examples

chore: 🔧 update nx monorepo to v19.1.0
  libs/features/api/auth/src/lib/auth.module.ts
  libs/shared/data-access/src/lib/data-access/data-access.provide.spec.ts
  libs/shared/data-access/src/lib/data-access/data-access.provide.ts
  libs/ui-kit/src/lib/show-fps/_show-fps.component-theme.scss
  package-lock.json
  package.json
Due: feat-api-auth, ui-kit

fix: 🐛 serve command
  apps/angular-examples/project.json
  apps/angular-examples/src/index.html
Due: angular-examples

test(feat-lazy-gravity-rocks-e2e): 🚨 fix cypress e2e tests
  .gitignore
  apps/feat-lazy-gravity-rocks-e2e/cypress.config.ts
  libs/features/lazy/gravity-rocks/.storybook/main.ts
  libs/features/lazy/gravity-rocks/project.json
  libs/features/lazy/gravity-rocks/tsconfig.json
  nx.json
  package-lock.json
  package.json
Due: feat-lazy-gravity-rocks

chore(feat-lazy-gravity-rocks): 🔧 remove unused imports
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.stories.ts
Due: feat-lazy-gravity-rocks

chore: 🔧 update package.lock
  package-lock.json
Due: none

test: 🚨 remove integration tests as it failes
  libs/ui-kit/karma.conf.js
  libs/ui-kit/project.json
  libs/ui-kit/src/integration-test-setup.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.integrationspec.ts
  libs/ui-kit/tsconfig.integrationspec.json
  libs/ui-kit/tsconfig.spec.json
Due: ui-kit

test: 🚨 use nx cypress plugin
  .github/workflows/ci-cd.yml
  apps/feat-lazy-gravity-rocks-e2e/cypress.config.ts
  apps/feat-lazy-gravity-rocks-e2e/project.json
  nx.json
  package-lock.json
  package.json
Due: none

test: 🚨 remove cypress storybook e2e tests
  .idea/nx-angular-config.xml
  apps/feat-lazy-gravity-rocks-e2e/cypress.config.ts
  apps/feat-lazy-gravity-rocks-e2e/eslint.config.js
  apps/feat-lazy-gravity-rocks-e2e/project.json
  apps/feat-lazy-gravity-rocks-e2e/src/e2e/gravity-rocks/gravity-rocks.component.cy.ts
  apps/feat-lazy-gravity-rocks-e2e/src/e2e/gravity-rocks/gravity-world/gravity-world.component.cy.ts
  apps/feat-lazy-gravity-rocks-e2e/src/fixtures/example.json
  apps/feat-lazy-gravity-rocks-e2e/src/support/commands.ts
  apps/feat-lazy-gravity-rocks-e2e/src/support/e2e.ts
  apps/feat-lazy-gravity-rocks-e2e/src/support/uncaught-errors.ts
  apps/feat-lazy-gravity-rocks-e2e/tsconfig.json
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1626.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @playwright/test to ^1.44.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1627.0
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
