Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

test(angular-examples): address review feedback for specs
  apps/angular-examples/e2e/fixtures/home-page.fixture.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.spec.ts
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.spec.ts
Due: angular-examples

Merge branch 'copilot/add-e2e-and-unit-tests' into work
  .github/actions/install-deps/action.yml
  .github/actions/install-deps/install-ubuntu-packages.sh
  .github/copilot-instructions.md
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .nvmrc
  AGENTS.md
  apps/angular-examples/e2e/fixtures/home-page.fixture.ts
  apps/angular-examples/src/main.ts
  apps/ws-thanos-test-app/playwright.config.ts
  apps/ws-thanos-test-app/project.json
  libs/features/lazy/some-gpu-calculation/src/lib/some-gpu-calculation/some-gpu-calculation.component.spec.ts
  package-lock.json
  package.json
Due: angular-examples, feat-lazy-some-gpu-calculation

feat: ✨ more runners for big changeset
  .github/workflows/ci-cd.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

feat: ✨ Add initial Firestore security rules with temporary broad access and specific validation for chat messages.
  apps/rollapolla-analog/firestore.rules
Due: none

test: 🚨 more robust sprint training e2e tests
  .gitignore
  apps/pacetrainer/e2e/pos/sprint-training.page.ts
  apps/pacetrainer/playwright.config.ts
  apps/rollapolla-analog/playwright.config.ts
Due: none

test: 🚨 fix shared-data-access tests.
  .gitignore
  apps/pacetrainer/playwright.config.ts
  libs/public/spa-cdk-stack/project.json
  libs/public/spa-cdk-stack/vite.config.ts
  libs/shared/data-access/project.json
  libs/shared/data-access/src/lib/data-access/data-access.provide.spec.ts
  libs/shared/data-access/vite.config.ts
  nx.json
  package-lock.json
  package.json
Due: none

test: 🚨 raise timeouts for CI
  apps/rollapolla-analog/playwright.config.ts
Due: none

test: 🚨 raise timeouts for CI
  apps/angular-examples/playwright.config.ts
Due: angular-examples

fix(deps): update dependency firebase to v12
  package-lock.json
  package.json
Due: none

fix(deps): update dependency mermaid to v11.12.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-html to v8.1.4
  package-lock.json
  package.json
Due: none

chore: add CLAUDE.md for Claude Code context
  CLAUDE.md
Due: none

chore(patches): add discord-mcp-oauth chunk-1 transit patch
  patches/discord-mcp-oauth/README.md
  patches/discord-mcp-oauth/chunk-1/0001-chore-initial-scaffold-with-env-logger-and-result-pr.patch
Due: none

docs(patches): add PLAN.md patch to discord-mcp-oauth chunk 1
  patches/discord-mcp-oauth/README.md
  patches/discord-mcp-oauth/chunk-1/0002-docs-add-PLAN.md-tracking-build-chunks-and-locked-in.patch
Due: none

fix(security): replace world-open Firestore rules with per-collection access control
  apps/rollapolla-analog/firestore.rules
Due: none

ci: add timeout-minutes to main job to prevent 3h+ hangs
  .github/workflows/ci-cd.yml
Due: none

fix(ci): correct small-changeset agent distribution config
  .nx/workflows/dynamic-changesets.yml
Due: none

fix(github): set Nx Cloud small-changeset agents to 3 (minimum)
  .nx/workflows/dynamic-changesets.yml
Due: none

test(pacetrainer,angular-examples): add CI webServer diagnostics
  apps/angular-examples/playwright.config.ts
  apps/pacetrainer/playwright.config.ts
Due: angular-examples

test: widen CI detection to Nx Cloud agents + dump env
  apps/angular-examples/playwright.config.ts
  apps/pacetrainer/playwright.config.ts
Due: angular-examples

chore(github): ramp up Nx Cloud agent distribution
  .nx/workflows/dynamic-changesets.yml
Due: none

test: unconditional e2e diagnostic to prove webServer command runs
  apps/angular-examples/playwright.config.ts
  apps/pacetrainer/playwright.config.ts
Due: angular-examples

test(github): bypass Nx cache on CI to force fresh task execution
  .github/workflows/ci-cd.yml
Due: none

test: route e2e webServer diagnostic to stderr + revert skip-nx-cache
  .github/workflows/ci-cd.yml
  apps/angular-examples/playwright.config.ts
  apps/pacetrainer/playwright.config.ts
Due: angular-examples

fix(deps): pin @rspack/binding-linux-x64-gnu + sass-embedded-linux-x64
  package-lock.json
  package.json
Due: none

fix(nx): 🐛 repair vitest ci target for shared-data-access and spa-cdk-stack
  libs/public/spa-cdk-stack/project.json
  libs/shared/data-access/package.json
  libs/shared/data-access/project.json
  nx.json
Due: none

fix(nx): 🐛 restore small-changeset agent pool (22wolsokmono typo) and ramp distribution
  .nx/workflows/dynamic-changesets.yml
Due: none

fix(deps): 🐛 pin @rspack/binding-linux-x64-gnu + sass-embedded-linux-x64
  package-lock.json
  package.json
Due: none

fix(rollapolla-analog): 🐛 hydrate chat message form eagerly
  apps/rollapolla-analog/src/app/core/chat-live-stream/chat-live-stream.component.html
  apps/rollapolla-analog/src/app/core/chat-live-stream/chat-live-stream.component.ts
Due: none

chore: 🔧 update .gitignore to include reports directory and settings.local.json
  .gitignore
Due: none

fix(tools): 🐛 trim commit-hash fallback in latest-version-tag
  tools/version-handling/latest-version-tag.ts
Due: none

chore(deps): update dependency @esbuild/linux-x64 to v0.28.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-html to v8.1.4 (#2110)
  package-lock.json
  package.json
Due: none

fix(github): 🐛 skip deploy failure when no previous deployment tag exists
  .github/workflows/deploy.yml
Due: none

fix(deps): update font awesome to v7
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(deps): 🐛 revert p5 to v1.11.11
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/tensorflow-examples/package.json
  package-lock.json
  package.json
Due: feat-lazy-fourier-analysis, feat-lazy-react-diff, feat-lazy-tf-examples

chore(deps): update dependency @esbuild/linux-x64 to v0.28.0 (#2109)
  package-lock.json
  package.json
Due: none

fix(ci): re-add nx format:check step
  .github/workflows/ci-cd.yml
Due: none

fix(security): tighten Firestore rules — remove notes create, add chatMessages field/TTL validation
  apps/rollapolla-analog/firestore.rules
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
