Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix(deps): update dependency browserslist to v4.27.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v16
  package-lock.json
  package.json
Due: none

fix(deps): update nx monorepo
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  package-lock.json
  package.json
Due: feat-api-auth

feat: ✨ zoneless change detection
  apps/angular-examples/project.json
  apps/angular-examples/src/app/core/service-worker-update.service.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.ts
  apps/angular-examples/src/bootstrap.ts
  apps/angular-examples/src/polyfills.ts
  apps/angular-examples/tsconfig.app.json
  apps/bacteria-game-remote/project.json
  apps/bacteria-game-remote/src/app/app.config.ts
  apps/bacteria-game-remote/src/app/remote-entry/entry.component.ts
  apps/bacteria-game-remote/src/polyfills.ts
  apps/bacteria-game-remote/tsconfig.app.json
  apps/fourier-analysis-remote/project.json
  apps/fourier-analysis-remote/src/app/app.config.ts
  apps/fourier-analysis-remote/src/app/remote-entry/entry.component.ts
  apps/fourier-analysis-remote/src/polyfills.ts
  apps/fourier-analysis-remote/tsconfig.app.json
  apps/rollapolla-analog/src/app/app.component.ts
  apps/rollapolla-analog/src/app/core/chat-live-stream/messages-list.component.ts
  apps/rollapolla-analog/src/app/pages/(home).page.ts
  apps/rollapolla-analog/src/app/pages/rollapolla-welcome.component.ts
  apps/shader-examples-remote/project.json
  apps/shader-examples-remote/src/app/app.config.ts
  apps/shader-examples-remote/src/app/remote-entry/entry.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/ui-kit/src/lib/elevate-card/elevate-card.directive.spec.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
Due: angular-examples, bacteria-game-remote, feat-lazy-gravity-rocks, fourier-analysis-remote, ui-kit

feat: ✨ remove zone
  apps/angular-examples/src/test-setup.ts
  apps/angular-examples/src/zone-flags.ts
  apps/bacteria-game-remote/src/app/app.config.ts
  apps/bacteria-game-remote/src/environments/environment.ts
  apps/bacteria-game-remote/src/test-setup.ts
  apps/fourier-analysis-remote/src/environments/environment.ts
  apps/fourier-analysis-remote/src/test-setup.ts
  apps/shader-examples-remote/src/test-setup.ts
  libs/features/api/auth/src/test-setup.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/test-setup.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-canvas/wave-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/test-setup.ts
  libs/features/lazy/gravity-rocks/src/test-setup.ts
  libs/features/lazy/neural-networks/src/test-setup.ts
  libs/features/lazy/poisson/src/test-setup.ts
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/p5-view/p5-view.component.ts
  libs/features/lazy/reaction-diffusion/src/test-setup.ts
  libs/features/lazy/shader-examples/src/test-setup.ts
  libs/features/lazy/some-gpu-calculation/src/test-setup.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/learned-digits/draw-digit/draw-digit.component.ts
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.ts
  libs/features/lazy/tensorflow-examples/src/test-setup.ts
  libs/features/lazy/wasm-test/src/test-setup.ts
  libs/fib-wasm-api/src/test-setup.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
  libs/public/ws-thanos/src/test.ts
  libs/shared/headline-animation/src/test-setup.ts
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
  libs/ui-kit/src/test-setup.ts
  libs/utils/gpu-calc/src/test-setup.ts
  package-lock.json
  package.json
Due: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-gpu-calc

feat: ✨ make draw method asynchronous
  libs/features/lazy/tensorflow-examples/src/lib/tensorflow-examples/polynominal-regretion/data-drawer/data-drawer.component.ts
Due: feat-lazy-tf-examples

fix(deps): update nx monorepo
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/shared/headline-animation/package.json
  package-lock.json
  package.json
Due: feat-api-auth

fix(deps): update dependency zone.js to v0.15.1
  package-lock.json
  package.json
Due: none

fix: 🐛 correct command syntax for nx-cloud recording
  .github/workflows/ci-cd.yml
Due: none

test: 🚨 fix some tests for zoneless
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/shared/data-access/src/test-setup.ts
  libs/ui-kit/src/test-setup.ts
Due: feat-lazy-gravity-rocks, ui-kit

feat: ✨ update player tracking in statistics display
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
Due: feat-lazy-bacteria-game

build: 📦️ update Angular and NX dependencies in package-lock.json
  .gitignore
  .idea/nx-angular-config.xml
  package-lock.json
Due: none

fix: 🐛 add missing comma in component metadata
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.ts
Due: ui-kit

fix: 🐛 remove unused blocking navigation from file router configuration
  apps/pacetrainer/src/app/app.config.ts
  apps/rollapolla-analog/src/app/app.config.ts
Due: none

test: 🚨 remove fakeAsync from LetDirective test case
  libs/ui-kit/src/lib/let/let.directive.spec.ts
Due: ui-kit

fix: 🐛 enable run on save for Prettier configuration
  .idea/prettier.xml
  libs/ui-kit/src/index.ts
  libs/ui-kit/src/lib/let/let.directive.spec.ts
  libs/ui-kit/src/lib/let/let.directive.ts
Due: ui-kit

fix: 🐛 update ShowFpsComponent to use input() for properties and refactor tests
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader-2.component.spec.ts
  libs/ui-kit/src/lib/show-fps/show-fps.component.html
  libs/ui-kit/src/lib/show-fps/show-fps.component.spec.ts
  libs/ui-kit/src/lib/show-fps/show-fps.component.ts
Due: feat-lazy-gravity-rocks, ui-kit

fix: 🐛 refactor tests to use async/await and improve zoneless change detection setup
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/test.ts
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
