Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

resolve
  libs/public/nx-aws-cdk-v2/.babelrc
  libs/public/nx-aws-cdk-v2/project.json
  libs/public/nx-aws-cdk-v2/src/executors/bootstrap/bootstrap.spec.ts
  libs/public/nx-aws-cdk-v2/src/executors/bootstrap/bootstrap.ts
  libs/public/nx-aws-cdk-v2/src/executors/bootstrap/schema.json
  libs/public/nx-aws-cdk-v2/src/executors/deploy/deploy.spec.ts
  libs/public/nx-aws-cdk-v2/src/executors/deploy/deploy.ts
  libs/public/nx-aws-cdk-v2/src/executors/deploy/schema.json
  libs/public/nx-aws-cdk-v2/src/executors/destroy/destroy.spec.ts
  libs/public/nx-aws-cdk-v2/src/executors/destroy/destroy.ts
  libs/public/nx-aws-cdk-v2/src/executors/destroy/schema.json
  libs/public/nx-aws-cdk-v2/src/generators/application/application.spec.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/application.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/schema.d.ts
  libs/public/nx-aws-cdk-v2/src/generators/application/schema.json
  libs/public/nx-aws-cdk-v2/src/generators/init/init.spec.ts
  libs/public/nx-aws-cdk-v2/src/generators/init/init.ts
  libs/public/nx-aws-cdk-v2/src/generators/init/schema.json
  libs/public/nx-aws-cdk-v2/src/utils/executor.util.ts
  libs/public/nx-aws-cdk-v2/src/utils/testing.ts
Due: none

build: migrate to storybook 7
  .storybook/main.ts
  .storybook/tsconfig.json
  apps/feat-lazy-gravity-rocks-e2e/project.json
  libs/features/lazy/gravity-rocks/.storybook/main.ts
  libs/features/lazy/gravity-rocks/.storybook/tsconfig.json
  libs/features/lazy/gravity-rocks/project.json
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-rocks.component.stories.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.stories.ts
  migration-storybook.log
  nx.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: feat-lazy-gravity-rocks

fix(deps): :arrow_up: update dependency vega-lite to v5.8.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @storybook/core-common to v7
  package-lock.json
  package.json
Due: none

fix: webpack error due to version mismatch
  .github/workflows/release.yml
  migrations.json
  nx.json
  package-lock.json
  package.json
  tools/version-handling/version-webpack.config.js
Due: none

chore: add version.json to project dependencies
  apps/angular-examples/project.json
  nx.json
Due: angular-examples

chore(deps): :arrow_up: update dependency webpack to v5.81.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ng-packagr to v16
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @schematics/angular to v16
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v5.59.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  apps/angular-examples/src/app/feature/lazy/neural-network/shared/brain.service.ts
  libs/features/api/auth/src/lib/auth-guard/is-authenticated-guard.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.model.ts
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/calculation/reaction-diff-calculation-service.factory.ts
  libs/ui-kit/src/lib/render-shader/render-shader.component.ts
  libs/utils/gpu-calc/src/lib/gpu-adapter.service.ts
  package-lock.json
  package.json
Due: angular-examples, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-react-diff, ui-kit, utils-gpu-calc

fix(deps): :arrow_up: update nrwl workspace to v16
  libs/features/api/auth/package.json
  libs/features/lazy/bacteria-game/package.json
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/gravity-rocks/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/shader-examples/package.json
  libs/features/lazy/some-gpu-calculation/package.json
  libs/features/lazy/tensorflow-examples/package.json
  libs/features/lazy/wasm-test/package.json
  libs/fib-wasm-api/package.json
  libs/public/ws-thanos/package.json
  libs/ui-kit/package.json
  libs/utils/gpu-calc/package.json
Due: feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, ui-kit, utils-gpu-calc

feat: migrate to angular 16
  .npmrc
  apps/angular-examples/src/app/app-routing.module.ts
  decorate-angular-cli.js
  libs/features/api/auth/src/index.ts
  libs/features/api/auth/src/lib/auth-guard/guards-for-login-if-not-authenticated.ts
  libs/features/api/auth/src/lib/auth-guard/is-authenticated-guard.service.ts
  libs/features/api/auth/src/lib/auth-guard/is-authenticated.guard.spec.ts
  libs/features/api/auth/src/lib/auth-guard/login-if-not-authenticated.spec.ts
  libs/features/api/auth/src/lib/auth-guard/login-if-not-authenticated.ts
  libs/features/lazy/shader-examples/src/lib/shader-examples-routing.module.ts
  migrations.json
  package-lock.json
  package.json
Due: angular-examples, feat-api-auth, feat-lazy-shader-examples

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

feat: use standalone bootstrap
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/app.component.ts
  apps/angular-examples/src/app/app.module.ts
  apps/angular-examples/src/app/core/core.module.ts
  apps/angular-examples/src/app/feature/lazy/info/about/about.component.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.ts
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.html
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.ts
  apps/angular-examples/src/app/feature/navigation/side-nav/side-nav.component.ts
  apps/angular-examples/src/app/router-links.token.ts
  apps/angular-examples/src/app/shared/nav-item/nav-item.component.html
  apps/angular-examples/src/app/shared/nav-item/nav-item.component.scss
  apps/angular-examples/src/bootstrap.ts
  apps/angular-examples/webpack.config.js
Due: angular-examples

feat: add thanosDemo mode
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/app.component.spec.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.ts
  apps/angular-examples/src/app/feature/lazy/info/technology/technology.component.ts
  libs/public/ws-thanos/README.md
Due: angular-examples

style: better style for tech cards
  .idea/codeStyles/Project.xml
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/technology/technology.component.html
  apps/angular-examples/src/app/feature/lazy/info/technology/technology.component.scss
Due: angular-examples

chore: set thanos to 16.0.0
  libs/public/ws-thanos/package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies to v7.0.9
  package-lock.json
  package.json
Due: none

fix(ws-thanos): complete observable
  libs/public/ws-thanos/karma.conf.js
  libs/public/ws-thanos/package.json
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
Due: none

fix(ws-thanos): complete observable
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/info/info.component.html
  apps/angular-examples/src/app/feature/lazy/info/info.component.ts
  apps/angular-examples/src/app/feature/lazy/info/technology/technology.component.ts
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/public/ws-thanos/README.md
  libs/public/ws-thanos/src/index.ts
  libs/public/ws-thanos/src/lib/animation.state.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.spec.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: angular-examples, feat-lazy-bacteria-game

test(ws-thanos): fix karma test
  apps/angular-examples/src/styles/_ws-material-theme.scss
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.scss
  libs/public/ws-thanos/karma.conf.js
Due: angular-examples, feat-lazy-react-diff

chore: fix lint errors
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/info/technology/technology.component.ts
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.ts
  apps/angular-examples/src/app/router-links.token.ts
  libs/public/ws-thanos/src/lib/ws-thanos.directive.ts
Due: angular-examples

fix(ws-thanos): use better seed
  libs/public/ws-thanos/package.json
  libs/public/ws-thanos/src/lib/ws-thanos.service.ts
Due: none

chore(deps): :arrow_up: update dependency aws-sdk to v2.1373.0
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
