Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

chore(deps): update dependency chai to v6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency cross-env to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-storybook to v9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jsdom to v27
  package-lock.json
  package.json
Due: none

chore(deps): update github/codeql-action action to v4
  .github/workflows/code-ql-analysis.yml
Due: none

chore(deps): update commitlint monorepo to v20
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @angular-builders/custom-webpack to v20
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @chromatic-com/storybook to v4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @ngneat/spectator to v22
  package-lock.json
  package.json
Due: none

chore(deps): update vitest monorepo to v4
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update dependency marked to v16
  package-lock.json
  package.json
Due: none

fix(deps): update dependency mathjs to v15
  libs/features/lazy/fourier-analysis/package.json
  package-lock.json
  package.json
Due: feat-lazy-fourier-analysis

fix(deps): update dependency zod to v4
  package-lock.json
  package.json
Due: none

fix(deps): update dependency p5 to v2
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/neural-networks/package.json
  libs/features/lazy/reaction-diffusion/package.json
  libs/features/lazy/tensorflow-examples/package.json
  package-lock.json
  package.json
Due: feat-lazy-fourier-analysis, feat-lazy-react-diff, feat-lazy-tf-examples

chore(deps): update dependency tsx to v4.20.6
  package-lock.json
Due: none

chore(deps): update dependency vitest-mock-extended to v3.1.0
  package-lock.json
Due: none

chore(deps): update eslint monorepo to v9.38.0
  package-lock.json
  package.json
Due: none

feat: ✨ use newest angular material theming
  apps/angular-examples/src/styles.scss
  apps/angular-examples/src/styles/_feature-theming.scss
  apps/angular-examples/src/styles/_ws-material-theme.scss
  libs/features/lazy/reaction-diffusion/src/lib/reaction-diff/reaction-diff.component.html
  libs/features/lazy/shader-examples/ng-package.json
  libs/features/lazy/shader-examples/src/globals.scss
  libs/ui-kit/ng-package.json
  libs/ui-kit/src/lib/show-fps/_show-fps.component-theme.scss
  libs/ui-kit/src/lib/show-fps/show-fps.component.scss
Due: angular-examples, feat-lazy-react-diff, feat-lazy-shader-examples, ui-kit

feat: ✨ enhance login and toolbar components with improved styling and functionality
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.html
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.scss
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.html
  apps/angular-examples/src/app/feature/main-toolbar/main-toolbar.component.scss
Due: angular-examples

feat: ✨ improve button formatting and enhance SCSS theme structure
  apps/angular-examples/src/app/feature/main-toolbar/login/login.component.html
  apps/angular-examples/src/styles.scss
Due: angular-examples

chore(deps): update dependency aws-cdk-lib to v2.221.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency browserslist to v4.27.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v16
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v7.1.12
  apps/pacetrainer/package.json
  apps/rollapolla-analog/package.json
  libs/shared/data-access/package.json
Due: none

fix(deps): update dependency firebase to v12
  package-lock.json
  package.json
Due: none

fix(deps): update font awesome to v7
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update nx monorepo
  apps/rollapolla-analog/package.json
  libs/features/api/auth/package.json
  libs/shared/data-access/package-lock.json
  libs/shared/data-access/package.json
  libs/shared/headline-animation/package.json
  package-lock.json
  package.json
Due: feat-api-auth

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
