Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      angular-examples:
        flags:
          - angular-examples
      bacteria-game-remote:
        flags:
          - bacteria-game-remote
      feat-api-auth:
        flags:
          - feat-api-auth
      feat-lazy-bacteria-game:
        flags:
          - feat-lazy-bacteria-game
      feat-lazy-fourier-analysis:
        flags:
          - feat-lazy-fourier-analysis
      feat-lazy-gravity-rocks:
        flags:
          - feat-lazy-gravity-rocks
      feat-lazy-react-diff:
        flags:
          - feat-lazy-react-diff
      feat-lazy-shader-examples:
        flags:
          - feat-lazy-shader-examples
      feat-lazy-some-gpu-calculation:
        flags:
          - feat-lazy-some-gpu-calculation
      feat-lazy-tf-examples:
        flags:
          - feat-lazy-tf-examples
      feat-lazy-wasm-test:
        flags:
          - feat-lazy-wasm-test
      fib-wasm-api:
        flags:
          - fib-wasm-api
      fourier-analysis-remote:
        flags:
          - fourier-analysis-remote
      ui-kit:
        flags:
          - ui-kit
      utils-decorators:
        flags:
          - utils-decorators
      utils-gpu-calc:
        flags:
          - utils-gpu-calc
      utils-measure-fps:
        flags:
          - utils-measure-fps
      utils-operators:
        flags:
          - utils-operators
flags:
  angular-examples:
    paths:
      - apps/angular-examples
  bacteria-game-remote:
    paths:
      - apps/bacteria-game-remote
  feat-api-auth:
    paths:
      - libs/features/api/auth
  feat-lazy-bacteria-game:
    paths:
      - libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis:
    paths:
      - libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks:
    paths:
      - libs/features/lazy/gravity-rocks
  feat-lazy-react-diff:
    paths:
      - libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples:
    paths:
      - libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation:
    paths:
      - libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples:
    paths:
      - libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test:
    paths:
      - libs/features/lazy/wasm-test
  fib-wasm-api:
    paths:
      - libs/fib-wasm-api
  fourier-analysis-remote:
    paths:
      - apps/fourier-analysis-remote
  ui-kit:
    paths:
      - libs/ui-kit
  utils-decorators:
    paths:
      - libs/utils/decorators
  utils-gpu-calc:
    paths:
      - libs/utils/gpu-calc
  utils-measure-fps:
    paths:
      - libs/utils/measure-fps
  utils-operators:
    paths:
      - libs/utils/operators

chore(deps): update actions/github-script action to v9
  .github/workflows/release.yml
Due: none

fix(deps): update font awesome to v7
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @esbuild/linux-x64 to v0.28.2 (#2186)
  package-lock.json
  package.json
Due: none

fix(github): pass PAT_TOKEN to checkout in deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(github): format code-ql-analysis.yml and stop deploy tags re-triggering release
  .github/workflows/code-ql-analysis.yml
  .github/workflows/release.yml
Due: none

fix(nx): drop .github/** from sharedGlobals
  nx.json
Due: none

fix(nx): empty sharedGlobals, drop .nx/workflows/** too
  nx.json
Due: none

chore(deps): update actions/github-script action to v9 (#2189)
  .github/workflows/release.yml
Due: none

chore(rollapolla-analog): add temporary snapshot refresh workflow
  .github/workflows/update-playwright-snapshots.yml
Due: none

chore(rollapolla-analog): fix update-snapshots argument form
  .github/workflows/update-playwright-snapshots.yml
Due: none

chore(rollapolla-analog): install snapshot browsers as the runner user
  .github/workflows/update-playwright-snapshots.yml
Due: none

chore(rollapolla-analog): drop temporary snapshot refresh workflow
  .github/workflows/update-playwright-snapshots.yml
Due: none

chore(rollapolla-analog): regenerate baselines on ubuntu 22.04
  .github/workflows/update-playwright-snapshots.yml
Due: none

fix(deps): update font awesome to v7 (#2203)
  apps/rollapolla-analog/e2e/home.spec.ts-snapshots/Home-has-a-cta-to-follow-X-1-chromium-linux.png
  apps/rollapolla-analog/e2e/home.spec.ts-snapshots/Home-has-a-cta-to-follow-X-1-firefox-linux.png
  apps/rollapolla-analog/e2e/home.spec.ts-snapshots/Home-has-a-cta-to-follow-X-1-webkit-linux.png
  apps/rollapolla-analog/package.json
  package-lock.json
  package.json
Due: none

fix(angular-examples): restore module federation remote loading on nx 23
  apps/angular-examples/src/main.ts
  package-lock.json
  package.json
Due: angular-examples

chore(deps): update dependency @types/lodash to v4.17.25
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/lodash to v4.17.25 (#2205)
  package-lock.json
  package.json
Due: none

fix(angular-examples): register MF remotes lazily to stop duplicate Angular
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/remote-definitions.spec.ts
  apps/angular-examples/src/app/remote-definitions.ts
  apps/angular-examples/src/main.ts
Due: angular-examples

fix(angular-examples): register MF remotes lazily to stop duplicate Angular (NG0908) (#2207)
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/remote-definitions.spec.ts
  apps/angular-examples/src/app/remote-definitions.ts
  apps/angular-examples/src/main.ts
Due: angular-examples

feat(angular-examples): rebuild the three.js mandelbrot example as a deep zoom explorer
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-presets.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.spec.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/mandelbrot-shader.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.html
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.scss
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.ts
Due: angular-examples

fix(angular-examples): keep the deepest mandelbrot zoom inside the precision budget
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.spec.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/mandelbrot-shader.ts
Due: angular-examples

feat(angular-examples): rebuild the three.js mandelbrot example as a deep zoom explorer (#2211)
  apps/angular-examples/src/app/app-routing.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-presets.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.spec.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/fractal-view.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/mandelbrot-shader.ts
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.html
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.scss
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.ts
Due: angular-examples

fix(angular-examples): harden the version tag generator and stop committing its output
  .gitignore
  apps/angular-examples/project.json
  apps/angular-examples/src/environments/version-tag.generated.ts
  tools/version-handling/write-version-tag.ts
Due: angular-examples

fix(tools): stop a command-line argument from reaching a RegExp constructor
  tools/version-handling/latest-version-tag.ts
  tools/version-handling/write-version-tag.ts
Due: none

fix(angular-examples): let the serve targets generate the version module too
  apps/angular-examples/project.json
Due: angular-examples

chore(deps): update dependency @eslint/eslintrc to v3.3.7
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @eslint/eslintrc to v3.3.7 (#2213)
  package-lock.json
  package.json
Due: none

fix(feat-lazy-fourier-analysis): stack circle analysis graph below circle on mobile
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.scss
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.scss
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.layout.spec.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.layout.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
Due: feat-lazy-fourier-analysis

feat(feat-lazy-gravity-rocks): add zooming and planet trails to the gravity world
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-path.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

docs(github): note that CodeRabbit reviews are requested manually
  CLAUDE.md
Due: none

fix(feat-lazy-gravity-rocks): cap the trail at the requested segment count
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

docs(feat-lazy-gravity-rocks): document the functions touched by this change
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks

feat(feat-lazy-bacteria-game): make the colonies actually eat each other
  libs/features/lazy/bacteria-game/README.md
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.html
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.scss
  libs/features/lazy/bacteria-game/src/lib/bacteria-game.component.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.spec.ts
  libs/features/lazy/bacteria-game/src/lib/state/bacteria-simulation.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-balance.ts
  libs/features/lazy/bacteria-game/src/lib/state/game-state.service.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.model.ts
  libs/features/lazy/bacteria-game/src/lib/state/player.service.ts
Due: feat-lazy-bacteria-game

feat(feat-lazy-gravity-rocks): zooming and planet trails in the gravity world (#2215)
  CLAUDE.md
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/config/gravity-config.component.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world-config.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/svg-path.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/toSvgPath.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/world-objects/world-object.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.html
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.scss
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.spec.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/gravity-world.component.ts
Due: feat-lazy-gravity-rocks
