Repository WolfSoko/wol-sok-mono: changes, and which Codecov flags are due for each by the changed paths.
All: angular-examples, bacteria-game-remote, feat-api-auth, feat-lazy-bacteria-game, feat-lazy-fourier-analysis, feat-lazy-gravity-rocks, feat-lazy-react-diff, feat-lazy-shader-examples, feat-lazy-some-gpu-calculation, feat-lazy-tf-examples, feat-lazy-wasm-test, fib-wasm-api, fourier-analysis-remote, ui-kit, utils-decorators, utils-gpu-calc, utils-measure-fps, utils-operators

fix(deps): update dependency vega-embed to v6.28.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency vega-lite to v5.21.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v22
  package-lock.json
  package.json
Due: none

chore(deps): update dependency chai to v5.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-cypress to v4
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v8
  package-lock.json
  package.json
Due: none

feat: ✨ add allowed origins
  .idea/vcs.xml
  apps/bacteria-game-remote-cdk/src/stacks/spa.stack.ts
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: bacteria-game-remote

ci: 👷 use OAC instead of OAI
  .idea/vcs.xml
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

ci: 👷 add protocols to AllowedOrigins
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/bacteria-game-remote-cdk/src/stacks/spa.stack.ts
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/main.ts
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: bacteria-game-remote, fourier-analysis-remote

fix: 🐛 add missing extraAllowedOrigins parameter
  apps/bacteria-game-remote-cdk/src/main.ts
  apps/bacteria-game-remote-cdk/src/stacks/spa.stack.ts
  apps/fourier-analysis-remote-cdk/src/main.ts
  apps/fourier-analysis-remote-cdk/src/stacks/spa.stack.ts
  apps/shader-examples-remote-cdk/src/main.ts
  apps/shader-examples-remote-cdk/src/stacks/spa.stack.ts
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: bacteria-game-remote, fourier-analysis-remote

fix: 🐛 simplify OAC access
  libs/public/spa-cdk-stack/src/lib/__snapshots__/stack-spa.spec.ts.snap
  libs/public/spa-cdk-stack/src/lib/spa/spa.construct.ts
Due: none

fix: 🐛 bacteria-game remote url
  apps/angular-examples/src/assets/module-federation.manifest.prod.json
Due: angular-examples

fix: 🐛 remove static remotes definitions
  .gitignore
  .idea/vcs.xml
  apps/angular-examples/module-federation.config.ts
  apps/angular-examples/module-federation.prod.config.ts
Due: angular-examples

refactor: ♻️ use experimental top level await
  apps/angular-examples/src/main.ts
  apps/angular-examples/webpack.config.ts
  libs/features/lazy/tensorflow-examples/package.json
  package-lock.json
  package.json
Due: angular-examples, feat-lazy-tf-examples

chore(deps): update nx monorepo to v20.0.12
  package-lock.json
  package.json
Due: none

fix: 🐛 lint error
  libs/features/lazy/neural-networks/src/lib/neural-networks/shared/perceptron/perceptron.component.ts
Due: none

fix: 🐛 enable experiments top level await for prod
  .gitignore
  apps/angular-examples/webpack.prod.config.ts
Due: angular-examples

chore: 🔧 don't use legacy install for nx agents
  .nx/workflows/agents.yml
Due: none

chore(deps): update dependency vite-tsconfig-paths to v5.1.1
  package-lock.json
Due: none

chore(deps): update dependency @rollup/rollup-linux-x64-gnu to v4.25.0
  package-lock.json
Due: none

chore(deps): update dependency rollup to v4.25.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency firebase-functions to v6
  package-lock.json
  package.json
Due: none

fix: 🐛 refresh package-lock
  package-lock.json
Due: none

fix: 🐛 home routes without 'home/' in routes
  apps/angular-examples/src/app/feature/lazy/info/about/about.component.html
Due: angular-examples

refactor(feat-lazy-fourier-analysis): ♻️ use input signals
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-canvas/wave-canvas.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-canvas/wave-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-options/wave-options.component.ts
  libs/features/lazy/fourier-analysis/src/lib/model/audio/replay.wave.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.service.ts
Due: feat-lazy-fourier-analysis

chore(deps): update swc monorepo
  package-lock.json
  package.json
Due: none

Path conditions:
  angular-examples: any of: apps/angular-examples
  bacteria-game-remote: any of: apps/bacteria-game-remote
  feat-api-auth: any of: libs/features/api/auth
  feat-lazy-bacteria-game: any of: libs/features/lazy/bacteria-game
  feat-lazy-fourier-analysis: any of: libs/features/lazy/fourier-analysis
  feat-lazy-gravity-rocks: any of: libs/features/lazy/gravity-rocks
  feat-lazy-react-diff: any of: libs/features/lazy/reaction-diffusion
  feat-lazy-shader-examples: any of: libs/features/lazy/shader-examples
  feat-lazy-some-gpu-calculation: any of: libs/features/lazy/some-gpu-calculation
  feat-lazy-tf-examples: any of: libs/features/lazy/tensorflow-examples
  feat-lazy-wasm-test: any of: libs/features/lazy/wasm-test
  fib-wasm-api: any of: libs/fib-wasm-api
  fourier-analysis-remote: any of: apps/fourier-analysis-remote
  ui-kit: any of: libs/ui-kit
  utils-decorators: any of: libs/utils/decorators
  utils-gpu-calc: any of: libs/utils/gpu-calc
  utils-measure-fps: any of: libs/utils/measure-fps
  utils-operators: any of: libs/utils/operators
