Repository WolfSoko/wol-sok-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,scss,yml,yaml,html,md}": ["prettier --write"],
  "*.{js,ts,html}": ["eslint --fix"]
}

fix: 🐛 remove type of uniform variable
  apps/angular-examples/src/app/feature/lazy/web-gl/web-gl.component.ts
Due: eslint --fix

chore: 🔧 add lintFilePatterns to targetDefaults
  nx.json
Due: prettier --write

build: 📦️ update package-lock.json
  package-lock.json
Due: prettier --write

build: 📦️ set node version to 21.6.0
  .nvmrc
Due: none

build: 📦️ fix @angular/fire to 17.0.1
  package-lock.json
  package.json
Due: prettier --write

test(shared-data-access): 🚨 fix test
  libs/shared/data-access/src/lib/data-access/database.service.spec.ts
  package-lock.json
Due: prettier --write, eslint --fix

chore(deps): :arrow_up: update dependency @ngneat/spectator to v16
  package.json
Due: prettier --write

test: 🚨 fix test
  apps/angular-examples/src/test-setup.ts
  libs/features/api/auth/src/test-setup.ts
  libs/shared/data-access/src/lib/data-access/database.service.spec.ts
  libs/shared/data-access/src/test-setup.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): :arrow_up: update dependency node to v21.6.1
  .nvmrc
Due: none

build: 📦️ migrate nx to 18.0.3
  .env
  .idea/jsLibraryMappings.xml
  nx.json
  package-lock.json
  package.json
Due: prettier --write

build: 📦️ override commitlints dependecies to nx
  package-lock.json
  package.json
Due: prettier --write

style: 🎨 fix lint errors
  apps/angular-examples/src/app/feature/lazy/neural-network/shared/data-view/data-p5-sketch.ts
  libs/features/lazy/gravity-rocks/src/lib/gravity-rocks/gravity-world/domain/gravity-world.service.spec.ts
  libs/features/lazy/shader-examples/src/lib/state/shader-code.service.ts
  libs/shared/ws-gl/src/lib/model/color.material.ts
  libs/shared/ws-gl/src/lib/model/plane-geometry.ts
  libs/shared/ws-gl/src/lib/model/scene.ts
  libs/ui-kit/src/lib/render-shader-2/render-shader.service.ts
Due: eslint --fix

test(fourier-analysis-remote-e2e): 🚨 fix port error
  libs/features/lazy/tensorflow-examples/project.json
Due: prettier --write

chore(deps): :arrow_up: update dependency husky to v9
  package.json
Due: prettier --write

chore: 🔧 migrate to husky 9
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

test(feat-lazy-tf-examples): 🚨 e2e set port to 4201
  libs/features/lazy/tensorflow-examples/project.json
Due: prettier --write

Revert "test(feat-lazy-tf-examples): 🚨 e2e set port to 4201"
  libs/features/lazy/tensorflow-examples/project.json
Due: prettier --write

test(angular-examples-e2e): 🚨 use nx plugin structure
  apps/angular-examples-e2e/cypress.config.ts
  apps/angular-examples-e2e/project.json
  nx.json
Due: prettier --write, eslint --fix

test(feat-lazy-tf-examples): 🚨 use nx cypress plugin structure
  libs/features/lazy/tensorflow-examples/cypress.config.ts
  libs/features/lazy/tensorflow-examples/project.json
Due: prettier --write, eslint --fix

ci: 👷 adapt cypress cache folder
  .github/actions/install-deps/action.yml
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): :arrow_up: update dependency @types/node to v20
  package.json
Due: prettier --write

ci: 👷 adapt cypress cache folder
  .github/workflows/ci.yml
Due: prettier --write

ci: 👷 adapt cypress cache folder to absolute path
  .github/workflows/ci.yml
  package-lock.json
Due: prettier --write

ci: 👷 revert cypress cache folder
  .github/workflows/ci.yml
Due: prettier --write

ci: 👷 try home folder for cypress cache
  .github/workflows/ci.yml
Due: prettier --write

ci: 👷 adding debugging step
  .github/workflows/ci.yml
Due: prettier --write

ci: 👷 removing debug step
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: prettier --write

fix(deps): :arrow_up: update all non-major dependencies
  package.json
Due: prettier --write

chore(deps): :arrow_up: update dependency aws-sdk to v2.1555.0
  package.json
Due: prettier --write

chore(deps): :arrow_up: update dependency jest-preset-angular to v14.0.1
  package.json
Due: prettier --write

chore(deps): :arrow_up: update dependency aws-cdk-lib to ^2.127.0
  package.json
Due: prettier --write

fix(deps): :arrow_up: update dependency aws-cdk to ^2.127.0
  package.json
Due: prettier --write
