Repository WolfSoko/wol-sok-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,scss,yml,yaml,html,md}": ["prettier --write"],
  "*.{js,ts,html}": ["eslint --fix"]
}

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: prettier --write

chore(deps): :arrow_up: update dependency ts-node to v10.9.2
  package.json
Due: prettier --write

chore: 🔧 update commit-msg hook to husky 9
  .husky/commit-msg
Due: none

chore(deps): :arrow_up: update dependency aws-cdk-lib to ^2.129.0
  package.json
Due: prettier --write

fix(deps): :arrow_up: update dependency aws-cdk to ^2.129.0
  package.json
Due: prettier --write

chore: 🔧 updatge package-lock.json
  package-lock.json
  package.json
Due: prettier --write

ci: 👷 disable husky for CI
  .github/workflows/ci.yml
  .github/workflows/code-ql-analysis.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/release.yml
  .github/workflows/trigger-release.yml
Due: prettier --write

chore: 🔧 only use prettier for lint staged
  .lintstagedrc.json
Due: prettier --write

feat: ✨ use elf instead of akita for wave options
  apps/fourier-analysis-remote/src/bootstrap.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-canvas/circle-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-canvas/wave-canvas.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-options/wave-options.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/wave-options/wave-options.component.ts
  libs/features/lazy/fourier-analysis/src/lib/model/input-wave-options.model.ts
  libs/features/lazy/fourier-analysis/src/lib/model/input-wave.model.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.model.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.repo.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.store.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.store.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

feat: ✨ use elf instead of akita for wave-store
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/circle-analysis/circle-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.html
  libs/features/lazy/fourier-analysis/src/lib/input-wave/input-wave.component.ts
  libs/features/lazy/fourier-analysis/src/lib/model/audio-recorder-status.model.ts
  libs/features/lazy/fourier-analysis/src/lib/model/audio/replay.wave.ts
  libs/features/lazy/fourier-analysis/src/lib/model/create-recorded-frequency.wave.ts
  libs/features/lazy/fourier-analysis/src/lib/model/input-wave.model.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-options.model.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-repo.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-ui.model.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.store.ts
  libs/features/lazy/fourier-analysis/src/lib/state/is-loading-store-props.ts
Due: prettier --write, eslint --fix

feat: ✨ cleanup, no loading state
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.html
  libs/features/lazy/fourier-analysis/src/lib/fourier-analysis/fourier-analysis.component.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.query.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-repo.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/is-loading-store-props.ts
Due: prettier --write, eslint --fix

feat(feat-lazy-fourier-analysis): ✨ cleanup last remains of akita
  libs/features/lazy/fourier-analysis/package.json
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.service.ts
  libs/features/lazy/fourier-analysis/src/lib/state/fourier-analysis.store.ts
  libs/features/lazy/fourier-analysis/src/lib/state/input-wave-repo.ts
Due: prettier --write, eslint --fix

test(angular-examples): 🚨 add e2e tests
  .vscode/extensions.json
  apps/angular-examples-e2e/.eslintrc.json
  apps/angular-examples-e2e/cypress.config.ts
  apps/angular-examples-e2e/project.json
  apps/angular-examples-e2e/src/e2e/app.cy.ts
  apps/angular-examples-e2e/src/fixtures/example.json
  apps/angular-examples-e2e/src/support/app.po.ts
  apps/angular-examples-e2e/src/support/commands.ts
  apps/angular-examples-e2e/src/support/e2e.ts
  apps/angular-examples-e2e/tsconfig.json
  apps/angular-examples/.eslintrc.json
  apps/angular-examples/e2e/home.spec.ts
  apps/angular-examples/e2e/po/angular-examples.page.ts
  apps/angular-examples/playwright.config.ts
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

test(angular-examples): 🚨 more time for e2e tests
  .github/actions/install-deps/action.yml
  apps/angular-examples/playwright.config.ts
  package-lock.json
Due: prettier --write, eslint --fix

ci: 👷 remove double caching of node_modules
  .github/actions/install-deps/action.yml
Due: prettier --write

ci: 👷 install cypress for verify because nx
  .github/workflows/ci.yml
Due: prettier --write

ci: 👷 try nx cloud ci process
  .github/workflows/ci-new.yml
Due: prettier --write

ci: 👷 setup own agent
  .github/workflows/ci-new.yml
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 setup own agent
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 install necessary binaries
  .github/workflows/ci-new.yml
Due: prettier --write

ci: 👷 use npm install instead of ci
  .github/workflows/ci-new.yml
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 correct nvmrc name
  .github/workflows/ci-new.yml
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 fix run command
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 install special npm packets with npm install itself
  .github/workflows/ci-new.yml
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 start cloud agents as fast as possible
  .github/workflows/ci-new.yml
Due: prettier --write

chore(deps): :arrow_up: update actions/setup-node action to v4
  .github/workflows/ci-new.yml
Due: prettier --write

ci: 👷 use local agent
  .github/workflows/ci-new.yml
Due: prettier --write

ci: 👷 only for prs set git tracking branch
  .github/workflows/ci-new.yml
Due: prettier --write

ci: 👷 uses bash
  .nx/workflows/agents.yml
Due: prettier --write

ci: 👷 install linux binaries together with npm install
  .github/actions/install-deps/action.yml
Due: prettier --write

ci: 👷 agents without shell
  .nx/workflows/agents.yml
Due: prettier --write

test: 🚨 ignore e2e test for jest
  apps/angular-examples/jest.config.ts
  apps/angular-examples/tsconfig.spec.json
Due: prettier --write, eslint --fix

chore(deps): :arrow_up: update nrwl/nx-set-shas action to v4
  .github/workflows/ci-new.yml
Due: prettier --write

test: 🚨 remove nx cypess auto plugins
  nx.json
Due: prettier --write
